Flask==1.0.2
tabula_py==2.1.1
numpy==1.15.4
pandas==1.1.0
psycopg2==2.8.5
Flask_SQLAlchemy==2.4.3
PyPDF2==1.26.0
PySocks==1.6.8
pytest==4.0.2
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.2.0
pytest-openfiles==0.3.1
pytest-remotedata==0.3.1
python-dateutil==2.7.5
python-dotenv==0.14.0
python-editor==1.0.4
python-slugify==3.0.2
pytz==2018.7
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.3
qtconsole==4.4.3
QtPy==1.5.2
requests==2.21.0
rope==0.11.0
ruamel-yaml==0.15.46
scikit-image==0.14.1
scikit-learn==0.20.1
scipy==1.1.0
seaborn==0.9.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.1.0
Sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
spyder==3.3.2
spyder-kernels==0.3.0
SQLAlchemy==1.2.15
statsmodels==0.9.0
stevedore==2.0.1
sympy==1.3
tables==3.4.4
tabula-py==2.1.1
tabulate==0.8.3
tblib==1.3.2
terminado==0.8.1
testpath==0.4.2
text-unidecode==1.2
toml==0.10.1
toolz==0.9.0
torch==1.3.0.post2
torchvision==0.4.1.post2
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
unicodecsv==0.14.1
urllib3==1.24.1
virtualenv==16.6.0
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wrapt==1.10.11
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.2
xlwings==0.15.1
xlwt==1.3.0
you-get==0.4.1432
zict==0.1.3
