@media screen and (max-width: 767px) {
	.vaccine-summary {
        display: none;
    }
	select{
		border: none;
		border-bottom: 1px solid gray;
	}

	/* Interactive Button */
	.btn-outline-worldwide{
		border-width: thin;
	}
	.btn-outline-continent{
		border-width: thin;
	}
	.bars-text {
		font-size: 13px; /* Modified */
	}

	/* Hide Map */
	#vis1 {
		display: none; /* Modified */
	}

	/* Enlarge Bars */
	#vis2 {
		width: 108%; /* Modified */
		margin-left: -0.7rem;
		/*margin-right: -1rem;*/
	}

	.interactive-progress {
		margin-left: 1.5rem; /* Modified */
	}

	.vis-bars {
		margin-left: 0.8rem; /* Modified */
	}

	.button-font {
		font-size: 0.8rem !important; /* Modified */
		margin-right: 0.25rem !important; /* Modified */
		margin-bottom: 0.5rem !important; /* Modified */
	}


	.bar-tag {
		font-size: 0.4rem; /* Modified */
	}

	.bar-data {
		/*color: white;*/
		font-size: 2rem !important; /* Modified */
	}

	.arrow-right-stage0 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 24px solid transparent !important; /* Modified */
		border-left: 12px solid #c1c8e4 !important; /* Modified */
		border-bottom: 24px solid transparent !important; /* Modified */
	}

	.arrow-right-stage1 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 24px solid transparent !important; /* Modified */
		border-left: 12px solid #84ceeb !important; /* Modified */
		border-bottom: 24px solid transparent !important; /* Modified */
	}


	.arrow-right-stage2 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 24px solid transparent !important; /* Modified */
		border-left: 12px solid #5ab9ea !important; /* Modified */
		border-bottom: 24px solid transparent !important; /* Modified */
	}


	.arrow-right-stage3 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 24px solid transparent !important; /* Modified */
		border-left: 12px solid #2b98d2 !important; /* Modified */
		border-bottom: 24px solid transparent !important; /* Modified */
	}


	.arrow-right-stage4 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 24px solid transparent !important; /* Modified */
		border-left: 12px solid #3aafa9 !important; /* Modified */
		border-bottom: 24px solid transparent !important; /* Modified */
		/*margin-left: 4.8px;*/

	}

	#progress0 {
		background-color: #c1c8e4;
		line-height: 3rem !important; /* Modified */
		margin-left: -1.35rem !important; /* Modified */
		padding-left: 0.3rem !important; /* Modified */
	}

	#progress1 {
		/*background-color: #84ceeb;*/
		line-height: 3rem !important; /* Modified */;
	}

	#progress2 {
		/*background-color: #5ab9ea;*/
		line-height: 3rem !important; /* Modified */;
	}

	#progress3 {
		/*background-color: #2b98d2;*/
		line-height: 3rem !important; /* Modified */;
	}

	#progress4 {
		/*background-color: #3aafa9;*/
		line-height: 3rem !important; /* Modified */;
		/*width: 110%;*/
		/*position: relative!important;*/
	}

	.btn {
		padding: 0.3rem 0.5rem !important; /* Modified */;
	}

	.btn-outline-worldwide:focus,
	.btn-outline-worldwide.focus {
		box-shadow: 0 0 0 0.09rem rgb(173, 245, 217) !important; /* Modified */;
	}

	.btn-outline-worldwide:not(:disabled):not(.disabled):active:focus,
	.btn-outline-worldwide:not(:disabled):not(.disabled).active:focus,
	.show > .btn-outline-worldwide.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.09rem rgb(145, 246, 217) !important; /* Modified */;
	}

	.btn-outline-continent:focus,
	.btn-outline-continent.focus {
		box-shadow: 0 0 0 0.09rem rgb(122, 227, 124) !important; /* Modified */;
	}

	.btn-outline-continent:not(:disabled):not(.disabled):active:focus,
	.btn-outline-continent:not(:disabled):not(.disabled).active:focus,
	.show > .btn-outline-continent.dropdown-toggle:focus {
		box-shadow: 0 0 0 0.09rem rgb(125, 219, 141) !important; /* Modified */;
	}

	/*.col > .interactive-bar.stage4 {*/
	/*	*/
	/*}*/
}



@media screen and (min-width: 425px) and (max-width: 767px) {
	#vis1{
		display: none;
	}
	.interactive-progress{
		margin-left: 1.5rem;
	}
	.vis-bars{
		margin-left: 1.5rem;
	}
	.button-font {
		font-size: 0.8rem!important;/* Modified */;
		margin-right: 0.5rem!important;/* Modified */;
		margin-bottom: 0.75rem!important;/* Modified */;
	}
	.btn{
		padding: 0.1875rem 0.375rem!important;/* Modified */;
	}

}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	#vis1 {
		display: none;
	}

	.interactive-progress {
		margin-left: 2.5rem;
	}

	.vis-bars {
		margin-left: 2.5rem;
	}

	.button-font {
		font-size: 1.1rem !important;/* Modified */;
		margin-right: 0.25rem !important;/* Modified */;
		/*margin-bottom: 0.5rem!important;*/
	}

	.interactive-progress {
		/*background-color: transparent !important;*/
		/*padding: 0;*/
		/*margin-top: 0;*/
	}


	.bar-data {
		/*color: white;*/
		font-size: 3rem !important;/* Modified */;
	}

	.arrow-right-stage0 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 40px solid transparent !important;/* Modified */;
		/*border-left: 18px solid #c1c8e4;*/
		border-bottom: 40px solid transparent !important;/* Modified */;
	}

	.arrow-right-stage1 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 40px solid transparent !important;/* Modified */;
		/*border-left: 18px solid #84ceeb;*/
		border-bottom: 40px solid transparent !important;/* Modified */;
	}


	.arrow-right-stage2 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 40px solid transparent !important;/* Modified */;
		/*border-left: 18px solid #5ab9ea;*/
		border-bottom: 40px solid transparent !important;/* Modified */;
	}


	.arrow-right-stage3 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 40px solid transparent !important;/* Modified */;
		/*border-left: 18px solid #2b98d2;*/
		border-bottom: 40px solid transparent !important;/* Modified */;
	}


	.arrow-right-stage4 {
		/*width: 0;*/
		/*height: 0;*/
		border-top: 40px solid transparent !important;/* Modified */;
		/*border-left: 18px solid #3aafa9;*/
		border-bottom: 40px solid transparent !important;/* Modified */;
	}

	#progress0 {
		background-color: #c1c8e4;
		line-height: 5rem !important;/* Modified */;
	}

	#progress1 {
		/*background-color: #84ceeb;*/
		line-height: 5rem !important;/* Modified */;
	}

	#progress2 {
		/*background-color: #5ab9ea;*/
		line-height: 5rem !important;/* Modified */;
	}

	#progress3 {
		/*background-color: #2b98d2;*/
		line-height: 5rem !important;/* Modified */;
	}

	#progress4 {
		/*background-color: #3aafa9;*/
		line-height: 5rem !important;/* Modified */;
	}
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
	.interactive-progress {
		margin-left: 0 !important;/* Modified */;
	}

	.vis-bars {
		margin-left: 0 !important;/* Modified */;
	}

	#vis1 {
		display: block !important;/* Modified */;
	}

	/* button.align-right {
		right: 12% !important;;
	} */
	#progress0 {
		/*background-color: #c1c8e4;*/
		margin-left: -0.7rem !important;/* Modified */;
		padding-left: 0.2rem !important;/* Modified */;
	}


	/*.header-text {*/
	/*	margin-top: 0.3rem;*/
	/*	color: #00008b;*/
	/*	font-family: sans-serif;*/
	/*	font-size: 0.9rem !important;/* Modified */
	/*	font-weight: lighter;*/
	/*	padding: 0;*/
	/*	position: relative;*/
	/*	display: inline-block;*/
	/*}*/

	/*.header-text > a.style-a {*/
	/*	position: relative;*/
	/*	color: #000;*/
	/*	text-decoration: none;*/
	/*}*/
}


/* Global */
.button-font {
	font-size: 1.4rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

/* Interactive Progress */
.interactive-progress {
	background-color: transparent !important;
	padding: 0;
	margin-top: 0;
	/*margin-right: 10px !important;*/
}


.interactive-bar {
	text-align: center;
}


.bar-data {
	/*font-family: Kefa, sans-serif;*/
	color: white;
	font-size: 4rem;
}

.text-stage0 {
	color: #c1c8e4;
}

.arrow-right-stage0 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #c1c8e4;
	border-bottom: 48px solid transparent;
}

.text-stage1 {
	color: #84ceeb;
}

.arrow-right-stage1 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #84ceeb;
	border-bottom: 48px solid transparent;
}

.text-stage2 {
	color: #5ab9ea;
}

.arrow-right-stage2 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #5ab9ea;
	border-bottom: 48px solid transparent;
}

.text-stage3 {
	color: #2b98d2;
}

.arrow-right-stage3 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #2b98d2;
	border-bottom: 48px solid transparent;
}

.text-stage4 {
	color: #3aafa9;
	margin-left: -0.5rem;
}

.arrow-right-stage4 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #3aafa9;
	border-bottom: 48px solid transparent;
}

#progress0 {
  background-color: #c1c8e4;
}

#progress1 {
  background-color: #84ceeb;
}

#progress2 {
  background-color: #5ab9ea;
}

#progress3 {
  background-color: #2b98d2;
}

#progress4 {
  background-color: #3aafa9;
}

/* Customize Bootstrap Buttons */
.btn-outline-worldwide {
	color: #42c7a8;
	background-color: transparent;
	background-image: none;
	border-color: #42c7a8;
}
.btn-outline-worldwide:hover {
	color: #fff;
	background-color: #42c7a8;
	border-color: #42c7a8;
}
.btn-outline-worldwide:focus,
.btn-outline-worldwide.focus {
	color: #fff;
	background-color: #42c7a8;
	border-color: #42c7a8;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-worldwide:not(:disabled):not(.disabled):active,
.btn-outline-worldwide:not(:disabled):not(.disabled).active,
.show > .btn-outline-worldwide.dropdown-toggle {
  color: #fff;
  background-color: #42c7a8;
  border-color: #42c7a8;
}

.btn-outline-continent {
	color: #6cb323;
	background-color: transparent;
	background-image: none;
	border-color: #6cb323;
}
.btn-outline-continent:hover {
	color: #fff;
	background-color: #6cb323;
	border-color: #6cb323;
}
.btn-outline-continent:focus,
.btn-outline-continent.focus {
	color: #fff;
	background-color: #6cb323;
	border-color: #6cb323;
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-continent:not(:disabled):not(.disabled):active,
.btn-outline-continent:not(:disabled):not(.disabled).active,
.show > .btn-outline-continent.dropdown-toggle {
  color: #fff;
  background-color: #6cb323;
  border-color: #6cb323;
}

.btn-outline-worldwide:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgb(173, 245, 217);
}
.btn-outline-worldwide:not(:disabled):not(.disabled):active:focus,
.btn-outline-worldwide:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-worldwide.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(145, 246, 217);
}
.btn-outline-continent:focus,
.btn-outline-continent.focus {
  box-shadow: 0 0 0 0.2rem rgb(122, 227, 124);
}
.btn-outline-continent:not(:disabled):not(.disabled):active:focus,
.btn-outline-continent:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-continent.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(125, 219, 141);
}


/* Mobile Dropdown */

.btn-outline-secondary {
  color: #7a7c7e;
  background-color: transparent;
  background-image: none;
  border-color: rgba(143, 182, 241, 0.98);
}

.btn-outline-secondary:hover {
  color: #7a7c7e;
  background-color: transparent;
  border-color: rgba(143, 182, 241, 0.98);
}
.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.15rem rgba(143, 182, 241, 0.5);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #7a7c7e;
  background-color: transparent!important;
  border-color: rgba(143, 182, 241, 0.98);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgba(143, 182, 241, 0.5);
}