/* Interactive Button */

.btn-outline-primary {
	color: #85c742;
	background-color: transparent;
	background-image: none;
	border-color: #85c742;
}
.btn-outline-primary:hover {
	color: #fff;
	background-color: #85c742;
	border-color: #85c742;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
	color: #fff;
	background-color: #85c742;
	border-color: #85c742;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #85c742;
  border-color: #85c742;
}

.btn-outline-secondary {
	color: #93b174;
	background-color: transparent;
	background-image: none;
	border-color: #93b174;
}
.btn-outline-secondary:hover {
	color: #fff;
	background-color: #93b174;
	border-color: #93b174;
}
.btn-outline-secondary:focus,
.btn-outline-secondary.focus {
	color: #fff;
	background-color: #93b174;
	border-color: #93b174;
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #93b174;
  border-color: #93b174;
}

.button-font{
    font-size: 1.4rem;
    margin-right: 1rem;
	margin-bottom: 1.5rem;
}

/* Interactive Progress */
.interactive-progress {
	background-color: transparent;
	padding: 0;
	margin-top: 0;
	margin-right: 10px !important;
	border-radius: 0.2rem;
}


.interactive-bar{
    text-align: center;
}

.bar-tag{

}

.bar-data{
    color: white;
    font-size: 4rem;
}

.text-stage0 {
    color: #c1c8e4;
}
.arrow-right-stage0 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #c1c8e4;
	border-bottom: 48px solid transparent;
}

.text-stage1 {
    color: #84ceeb;
}
.arrow-right-stage1 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #84ceeb;
	border-bottom: 48px solid transparent;
}

.text-stage2 {
    color: #5ab9ea;
}
.arrow-right-stage2 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #5ab9ea;
	border-bottom: 48px solid transparent;
}

.text-stage3 {
    color: #88bdbc;
}
.arrow-right-stage3 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #88bdbc;
	border-bottom: 48px solid transparent;
}

.text-stage4 {
    color: #3aafa9;
}
.arrow-right-stage4 {
	width: 0;
	height: 0;
	border-top: 48px solid transparent;
	border-left: 18px solid #3aafa9;
	border-bottom: 48px solid transparent;
}