section#vaccine-distribution .source {
    opacity: 0.5;
}

.date {
    font-family: "KefaFont", sans-serif;
    margin-left: 0.5rem;
    font-weight: 200;
    color: #7a7a7a;
}

.text-with-tooltip {
    font-weight: bold;
    color: #0a87ac;
}

.us-map {
    position: relative;
}

.us-map path {
    /*fill: #fff;*/
    stroke: #888888;
}

.us-map-region:hover {
    fill: red;
    /*{#opacity: 0.7;#}*/
}

.us-map-text:hover {
    cursor: default;
}

.d3tooltip, .d3tooltip-world {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
    /*border: 1px solid #1b1e21;*/
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.d3tooltip-world.hidden {
    display: none;
}

.country.no-data {
    opacity: 0.5;
}

.vaccinations-title {
    margin-top: 0.2rem;
}

p.vaccinations-subtitle {
    margin-top: 0.2rem;
    font-size: 90%;
}

span.highlight-vaccinations {
    font-weight: bold;
    background-color: #a7ffde;
    border-radius: 0.2rem;
    padding: 0.2rem 0.35rem;
}

.tooltip-date {
    opacity: 0.7;
}

.vaccinations-title {
    font-size: 110%;
}

.world-map-graph-button.active {
    background-color: #98aaf1;
}

.world-map-button-group, .us-map-button-group {
    width: 30%;
}


@media screen and (max-width: 767px) {
    table.us-vaccine-distribution, table.world-vaccination-table {
        font-size: 9px;
    }

    .world-map-button-group, .us-map-button-group {
        width: 60% !important;
    }

    .us-vaccine-distribution th, .us-vaccine-distribution td, .world-vaccination-table th, .world-vaccination-table td {
        padding: 0.3rem 0.5rem !important;
    }

    td.vaccination-cell {
        padding-top: 0.1rem !important;
        padding-bottom: 0.1rem !important;
    }

    .world-map-graph-country-label {
        font-weight: bold;
    }


    .date {
        font-size: 11px;
    }

    .vaccinations-title {
        font-size: 70% !important;
        margin-bottom: 0.7rem;
    }

    .vaccinations-subtitle {
        font-size: 60% !important;
    }

    .highlight-vaccinations {
        padding: 0.15rem 0.25rem !important;
    }

    .d3tooltip-world {
        font-size: 60%;
    }

    .tooltip-no-data {
        opacity: 0.8;
        font-size: 95%;
    }

    .legend-title {
        font-size: 25px !important;
    }


}

@media screen and (min-width: 768px) {
    .us-map {
        margin-left: 15%;
        margin-right: 15%;
    }

    .world-map {
        margin-left: 15%;
        margin-right: 15%;
    }

}

.us-vaccine-distribution th, .world-vaccination-table th {
    background-color: #dbdbdb;
    /*padding: 0.5rem 2rem;*/
    /*color: white;*/
    /*border: 1px solid black;*/
    /*opacity: 0.7;*/
}

.us-vaccine-distribution th, .world-vaccination-table th, .us-vaccine-distribution td, .world-vaccination-table td {
    padding: 0.5rem 2rem;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}


table.us-vaccine-distribution, table.world-vaccination-table {
    /*color: #FFFFFF;*/
    margin-left: auto;
    margin-right: auto;

}

#spinner-wrapper, #spinner-wrapper-world {
    line-height: 35rem;
    height: 35rem;
    /*border: 3px solid green;*/
    text-align: center;
}

.percentage-cell, .vaccination-cell {
    color: rgb(7, 158, 138);
    font-weight: bold;
}


.per-hundred-cell {
    color: rgb(14, 112, 196);
    font-weight: bold;
}

.us_total_row {
    color: #0b58de;
    font-weight: bold;
    background-color: #f6f6f6;
}

.tooltip-number {
    font-weight: bold;
}

.d3tooltip-world .tooltip-number {
    font-size: 150%;
}


.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
}

#world-map {
    margin-bottom: -5%;
}


.axis {
    font-size: 13px;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.world-map-graph-label {
    font-family: "KefaFont", sans-serif;
}

.world-map-graph-country-label {
    font-size: 16px;
    font-family: Palatino, URW Palladio L, serif;
}

.legend-title {
    font-size: 20px;
}

.world-map-graph-bars:hover {
    opacity: 0.7;
}

table.world-vaccination-table {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

span.cell-new-vaccinations-portion, span.cell-new-vaccinations-per-hundred-portion {
    font-weight: lighter;
    font-size: 90%;
}

p.cell-total-vaccinations-portion, p.cell-total-new-vaccinations-portion {
    margin-bottom: 0 !important;
}

td.vaccination-cell {
    padding: 0.2rem 2rem;
}