/*Image + Positivity*/

section.container {
    position: relative;
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
}

p.q {
    font-family: Futura, serif;
      font-size: 8px;
    }

    @media (min-width:400px) {
      p.q {
        font-size: 15px;
      }
      p.author {
        font-size: 9px;
      }
    }

    @media (min-width:800px) {
      p.q {
        font-size: 28px;
      }
      p.author {
        font-size: 14px;
      }
    }

    @media (min-width:1200px) {
      p.q {
        font-size: 40px;
      }
      p.author {
        font-size: 20px;
      }
    }

    /*Quote*/
    .blockquote {
      color: purple;
    }


    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    /*Quote Image*/
    .imgbox {
      display: grid;
      height: 100%;
    }

    .imgbox::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(225, 240, 255, 0.6);
    }

    .center-fit {
      max-width: 100%;
      max-height: 100vh;
      margin: auto;
    }