html, body {
  max-width: 100%;
  overflow-x: hidden;
}
/* Header */
/* Extra Small Screen - Two Line Title */
@media screen and (max-width: 374px) {
  .btn-filter {
    font-size: 0.61rem !important;
  }

  .btn-clear {
    font-size: 0.61rem !important;
  }

  .mobile-font {
    font-size: 0.6rem !important;
    /*color: white;*/
  }


  /*.mobile-font-small {*/
  /*  font-size: 8.5px!important;*/
  /*  !*color: white;*!*/
  /*}*/
}

@media screen and (max-width: 375px) {
  .dropdown-menu {
    transform: translate3d(5px, 35px, 0px) !important;
  }

  .title {
    font-size: 0.7rem !important;
    /* Modified */
    max-width: 60%;
    margin-left: 0.5rem !important;
    /* New */
  }

  .title-bar {
    height: 3rem !important;
    /* Modified */
    padding: 0.5rem 1rem 1.75rem 0.7rem !important;
    /* Modified */
    margin-bottom: 1rem !important;
  }

  #submit-data {
    right: 20% !important;
  }

  /* Title "The Developing Process of a Coronavirus Vaccine" */
  .jumbotron {
    padding: 0.7rem !important;
    margin-bottom: 1px !important;
  }

  .btn-mobile-stage {
    font-size: 0.6rem !important;
    padding: 0.3rem !important;
  }
}

/* Mobile Size ≤ 425px */

@media screen and (max-width: 425px) {
  .btn-mobile-stage {
    font-size: 0.6rem !important;
    padding: 0.3rem 0.4rem;
  }

  .stages-all {
    font-size: 0.68rem !important;
  }

  .btn-outline-continent {
    min-width: 50px;
  }

  .news-wrapper {
    /*background-color: rgba(233, 233, 233, 0.7);*/
    border: 1px solid orangered !important;
    width: 90% !important;
    margin: 1rem auto !important;
    border-radius: 0.2rem !important;
  }

  .news {
    padding: 0.5rem 0 !important;
  }

  .news-list {
    margin-top: 0.8rem !important;
    padding-left: 2rem !important;
    padding-right: 0.5rem!important;
  }

  .news-text {
    font-size: 0.8rem !important;
    margin-top: 0.2rem !important;
  }

  #news-title {
    font-family: Kefa, sans-serif;
    font-variant: small-caps;
    font-size: 1.3rem !important;
  }


  .update-time {
    font-size: 0.9rem;
    font-weight: normal !important;
  }

  .large-screen {
    display: none !important;
  }

  .small-screen {
    display: block !important;
  }

  .quote {
    font-size: 1rem;
  }

  .interactive-progress {
    margin-left: 0.5rem !important;
  }

  .bar-tag {
    font-size: 10px; /* Modified */
  }

  .quick-actions {
    font-size: 1rem;
  }

  .mb-2 {
    margin-bottom: 0.35rem !important;
  }

  .footer-link {
    font-size: 0.8rem;
  }

  p.disclaimer-font {
    font-size: 0.6rem;
  }

  .footer-copyright {
    font-size: 0.6rem;
  }

  .mb-3 {
    margin-bottom: 0 !important;
  }

  .break {
    display: none;
  }

  .disclaimer-wrapper {
    padding: 0;
  }

  .dropdown-menu {
    transform: translate3d(5px, 35px, 0px) !important;
  }

  .btn-filter {
    font-size: 0.8rem;
  }

  .mobile-font {
    font-size: 0.68rem;
    /*color: white;*/
  }

  /*.mobile-font-small {*/
  /*  font-size: 0.6rem;*/
  /*  !*color: white;*!*/
  /*}*/
  .filter {
    display: none;
  }

  /*.title {*/
  /*  font-size: 0.9rem!important;*/
  /*  !* Modified *!*/
  /*  margin-left: 0.5rem !important;*/
  /*  !* New *!*/
  /*  margin-bottom: 0.2rem !important; !* Modified *!*/
  /*}*/
  .title {
    font-size: 0.9rem !important;
    /* Modified */
    max-width: 60%;
    margin-left: 0.5rem !important;
    /* New */
  }

  p.display-highlight {
    margin-bottom: 0.3rem !important;
  }

  .large-screen {
    display: none;
  }

  /*.title-bar {*/
  /*  height: 2rem;*/
  /*  padding: 0.75rem 1rem 0.4rem 1rem;*/
  /*  !* Modified *!*/
  /*  margin-bottom: 1rem;*/
  /*  !* Modified *!*/
  /*}*/
  .title-bar {
    height: 3rem !important;
    /* Modified */
    padding: 0.5rem 1rem 1.75rem 0.7rem !important;
    /* Modified */
    margin-bottom: 1rem !important;
  }

  .source {
    font-size: 0.7rem;
    /* Modified */
  }

  .black {
    /*color: black;*/
    font-size: 10px !important;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    line-height: 1.3 !important;
    text-align: left !important;
    padding-right: 0 !important;
    /*margin-right: -10px!important;*/
  }

  .border-info {
    border-left: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid #17a2b8 !important;
    /*margin-bottom: 4px!important;*/
    padding-left: 5px;
    padding-right: 5px;
  }

  /*span.highlight {*/
  /*  vertical-align: middle!important;*/
  /*  font-family: sans-serif;*/
  /*  font-size: 11px !important;*/
  /*  margin: auto 0.1rem !important;*/
  /*  padding: 0.35rem !important;*/
  /*  border-radius: 0.2rem;*/
  /*  color: white;*/
  /*  display: inline-block;*/
  /*  height: 50%;*/
  /*  width: 80%;*/
  /*}*/
  #title {
    /*font-family: Garamond, EB Garamond, Georgia, serif;*/
    font-size: 0.9rem;
    font-weight: 350;
    margin-bottom: 0;
  }

  /* .filtertext {
    display: inline-block;
    font-weight: 360;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.3rem 0.5rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0.25rem;
  } */
  .filtertext {
    /* text-align: center; */
    font-size: 10px;
  }

  .jumbotron {
    padding: 0.9rem 0.75rem 0.3rem 0.75rem !important;
    margin-bottom: 1px !important;
  }


  /* Hover Header-bar Effect */
  .header-text {
    margin-top: 0.2rem;
    color: #00008b;
    font-family: sans-serif;
    font-size: 12px !important;
    /* Modified */
    font-weight: lighter;
    padding: 0;
    position: relative;
    display: inline-block;
  }

  .header-text > a.style-a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  /* Coming Soon Toolkit */
  .coming-soon {
    font-size: 0.35rem !important;
    /* Modified */
  }

  .header-text .coming-soon {
    visibility: hidden;
    width: 70px;
    /* Modified */
    background-color: rgba(135, 133, 133, 0.87);
    color: #fff;
    text-align: center;
    border-radius: 0.2rem;
    padding: 5px 2px;
    /* Position-Bottom */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -35px;
    /* Negative half of width */
    /* Modified */
  }

  .header-text:hover .coming-soon {
    visibility: visible;
  }

  .column-card {
    float: left;
    width: 100% !important;
    /* Modified */
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .intro-us {
    font-size: 0.5rem;
    /* Modified */
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.3rem;
    /* Modified */
    padding: 0.8rem;
    /* Modified */
    background-color: rgba(253, 246, 236, 0.8);
  }

  .cursive {
    font-family: Coronetscript, cursive;
  !important;
    color: #111b2b;
    font-size: 1.5rem;
    font-weight: bold;
    /* Modified */
  }

  /* modal display */
  /*.modal {*/
  /*  display: none;*/
  /*  position: fixed;*/
  /*  z-index: 2;*/
  /*  left: 0;*/
  /*  top: 0;*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*  overflow: auto;*/
  /*  background-color: rgba(0, 0, 0, 0.4);*/
  /*}*/
  /*!* Modal Content/Box *!*/
  /*.modal-content {*/
  /*  background-color: #fefefe;*/
  /*  margin: 30% auto !important;*/
  /*  padding: 10px 0;*/
  /*  border: 1px solid #888;*/
  /*  width: 40%;*/
  /*  font-size: 10px;*/
  /*  line-height: 1rem;*/
  /*}*/
  .column {
    padding: 00rem;
  }

  span.highlight {
    /*display: inline !important;*/
    vertical-align: middle !important;
    font-family: sans-serif !important;
    font-size: 11px !important;
    margin: auto 0.1rem !important;
    padding: 0.35rem !important;
    border-radius: 0.2rem !important;
    color: white !important;
    height: 50% !important;
    width: 80% !important;
  }

  .source {
    margin-top: 0.6rem;
  }

  #submit-data {
    right: 20% !important;
  }
}
@media screen and (min-width: 426px) and (max-width: 576px) {
  .news-list{
    margin-top: 0.8rem!important;
    padding-left: 2rem!important;
    padding-right: 1rem!important;
  }
  .quote {
    font-size: 1.2rem;
  }

  #submit-data {
    right: 22% !important;
  }

  .title {
    font-size: 1rem;
    /* Modified */
    max-width: 60%;
    margin-left: 0.5rem !important;
    padding-bottom: 0.3rem;
    /* New */
  }

  .title-bar {
    height: 3.5rem !important;
    /* Modified */
    padding: 0.5rem 1rem 1em 0.7rem !important;
    /* Modified */
    margin-bottom: 1rem !important;
  }

  .bar-tag {
    font-size: 15px; /* Modified */
  }

  .large-screen {
    display: none !important;
  }

  .small-screen {
    display: block !important;
  }

  .header-text {
    font-size: 14px !important;
  }

  span.highlight {
    vertical-align: middle !important;
    font-family: sans-serif !important;
    font-size: 11px !important;
    margin: auto 0.1rem !important;
    padding: 0.35rem !important;
    border-radius: 0.2rem !important;
    color: white !important;
    display: inline-block !important;
    height: 50% !important;
    width: 80% !important;
  }

  #title {
    /*font-family: Garamond, EB Garamond, Georgia, serif;*/
    font-size: 1.2rem;
    font-weight: 350;
    margin-bottom: 0;
  }
  .jumbotron{
    margin-bottom: 0!important;
  }

  .black {
    /*color: black;*/
    font-size: 12px !important;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    line-height: 1.3 !important;
    text-align: left !important;
    padding-right: 0 !important;
    /*margin-right: -10px!important;*/
  }

}

/* 426-767px - Tablet */
@media screen and (min-width: 426px) and (max-width: 767px) {
  .news-list{
    margin-top: 0.8rem!important;
    padding-left: 2rem!important;
    padding-right: 1rem!important;
  }

  .filter {
    display: none;
  }

  .small-screen {
    display: none;
  }

  .title-bar {
    /*height: 2rem;*/
    padding: 0.75rem 1rem 0.4rem 1rem;
    /* Modified */
    margin-bottom: 1rem;
    /* Modified */
  }

  .title {
    font-size: 1rem;
    /* Modified */
    margin-bottom: 0.2rem!important; /* Modified */
  }

  /* Hover Header-bar Effect */
  .header-text {
    margin-top: 0.2rem;
    color: #00008b;
    font-family: sans-serif;
    font-size: 0.5rem;
    /* Modified */
    font-weight: lighter;
    padding: 0;
    position: relative;
    display: inline-block;
  }

  .header-text > a.style-a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  /* Coming Soon Toolkit */
  .coming-soon {
    font-size: 0.4rem;
    /* Modified */
  }

  .header-text .coming-soon {
    visibility: hidden;
    width: 80px;
    /* Modified */
    background-color: rgba(135, 133, 133, 0.87);
    color: #fff;
    text-align: center;
    border-radius: 0.2rem;
    padding: 5px 2px;
    /* Modified */
    /* Position */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -40px;
    /* Modified */
  }

  .header-text:hover .coming-soon {
    visibility: visible;
  }

  /* #headerbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  } */
  .column-card {
    float: left;
    width: 100%;
    /* Modified */
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .intro-us {
    font-size: 0.7rem;
    /* Modified */
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.3rem;
    /* Modified */
    padding: 0.8rem;
    /* Modified */
    background-color: rgba(253, 246, 236, 0.8);
  }

  .cursive {
    font-family: Coronetscript, cursive;!important;
    color: #111b2b;
    font-size: 1.8rem;
    font-weight: bold;
    /* Modified */
  }

  .jumbotron {
    padding: 1.5rem 2rem 1.2rem 2rem;
    /* Modified */
    margin-bottom: 20px;
    /* Modified */
  }

  .filtertext {
    /* text-align: center; */
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
  }

  .column {
    padding: 0.5rem;
  }

  .align-right {
    right: 6%;
  }
}

/* Tablet-iPad-Mini-Laptop 768-1200px */

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .news-wrapper{
    width: 80% !important;
  }
  .update-time{
    font-size: 1.3rem;
  }
  .mobile-filter {
    display: none;
  }

  .small-screen {
    display: none;
  }

  .title-bar {
    padding: 1.5rem 2rem 1.2rem 2rem;
    margin-bottom: 20px;
  }

  .title {
    font-size: 1.2rem;
    /* Modified */
  }

  a.style-a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0.5rem;
    position: relative;
  }

  /* Hover Header-bar Effect */
  .header-text {
    margin-top: 0.3rem;
    color: #00008b;
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    padding: 0;
    position: relative;
    display: inline-block;
  }

  .header-text > a.style-a {
    position: relative;
    color: #000;
    text-decoration: none;
  }

  .header-text > a.style-a:hover {
    color: #000;
  }

  .header-text > a.style-a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.15rem;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    border-radius: 0.1rem;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out 0s;
  }

  .header-text > a.style-a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  /* Coming Soon Toolkit */
  .coming-soon {
    font-size: 1.2rem;
  }

  .header-text .coming-soon {
    visibility: hidden;
    width: 160px;
    background-color: rgba(135, 133, 133, 0.87);
    color: #fff;
    text-align: center;
    border-radius: 0.2rem;
    padding: 5px 2px;
    /* Position */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -80px;
  }

  .header-text:hover .coming-soon {
    visibility: visible;
  }

  /* #headerbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  } */
  .column-card {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .intro-us {
    font-size: 0.8rem;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.6rem;
    padding: 1.6rem;
    background-color: rgba(253, 246, 236, 0.8);
  }

  .cursive {
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #111b2b;
    font-size: 2.2rem;
  }

  .jumbotron {
    padding: 1.5rem 2rem 1.2rem 2rem;
    margin-bottom: 20px;
  }

  .filtertext {
    /* text-align: center; */
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
  }

  .column {
    padding: 0.5rem 0.8rem;
  }

  .align-right {
    right: 2%;
  }
}

/* @media screen and (min-width: 960px) and (max-width: 1199px) {
  .intro-us {
    font-size: 1rem !important;
  } */

/* } */

/* Normal Computer Screen 1440px */

@media screen and (min-width: 1200px) {
  .update-time{
    font-size: 1.6rem;
  }
  .btn-outline-continent{
    min-width: 83px;
  }
  .mobile-filter{
    display: none;
  }
  .small-screen{
    display: none;
  }

  .title-bar {
    padding: 1.5rem 2rem 0.9rem 2rem;
    margin-bottom: 30px;
  }
  .jumbotron {
    padding: 1.5rem 2rem 1.1rem 2rem;
    margin-bottom: 20px;
  }
  .title {
    font-size: 1.8rem;
  }
  a.style-a {
    color: #fff;
    text-decoration: none;
    padding: 0 0 0.5rem;
    position: relative;
  }
  /* Hover Header-bar Effect */
  .header-text {
    margin-top: 0.3rem;
    color: #00008b;
    font-family: sans-serif;
    /* font-size: 1.4rem; */
    font-weight: lighter;
    padding: 0;
    position: relative;
    display: inline-block;
  }
  .header-text>a.style-a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  .header-text>a.style-a:hover {
    color: #000;
  }
  .header-text>a.style-a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.15rem;
    bottom: 0;
    left: 0;
    background-color: darkorange;
    border-radius: 0.1rem;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.25s ease-in-out 0s;
  }
  .header-text>a.style-a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  /* Coming Soon Toolkit */
  .coming-soon {
    font-size: 1rem;
  }
  .header-text .coming-soon {
    visibility: hidden;
    width: 160px;
    background-color: rgba(135, 133, 133, 0.87);
    color: #fff;
    text-align: center;
    border-radius: 0.2rem;
    padding: 5px 2px;
    /* Position */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -80px;
  }
  .header-text:hover .coming-soon {
    visibility: visible;
  }
  /* #headerbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  } */
  .column-card {
    float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0.8rem;
    padding: 2rem;
    background-color: rgba(253, 246, 236, 0.8);
  }
  .cursive {
    font-family: Brush Script MT, Brush Script Std, cursive;
    color: #111b2b;
    font-size: 3rem;
  }
  .filtertext {
    /* text-align: center; */
    font-size: 1.3rem;
  }
  .column {
    padding: 1rem 2rem;
  }
  .align-right {
    right: 16%;
  }
}

/*.title-bar {*/

/*    padding: 1.5rem 2rem 1.2rem 2rem;*/

/*    margin-bottom: 20px;*/

/*    background-color: #f5f5f5;*/

/*    border-radius: 0.2rem;*/

/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);*/

/*  }*/

/*.title-bar {*/

/*    height: 2rem;*/

/*    padding: 0.75rem 1rem 1.75rem 1rem;*/

/*    margin-bottom: 1rem;*/

/*    background-color: #f5f5f5;*/

/*    border-radius: 0.2rem;*/

/*    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); !* Modified *!*/

/*  }*/

/* Positive Quote Tab */

.positive {
  padding: 1.5rem 2rem 1.2rem 2rem;
  margin-bottom: 20px;
  background-color: #f1f6fd;
  border-radius: 0.2rem;
}

.testimonial-quote {
  font-size: 16px;
}

.testimonial-quote blockquote {
  /* Negate theme styles */
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  color: gray;
  font-family: Georgia, serif;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4 !important;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.testimonial-quote blockquote * {
  box-sizing: border-box;
}

.testimonial-quote blockquote p {
  color: #75808a;
  line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
  content: '\201C';
  color: #55deca;
  font-size: 7.5em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top: -.4em;
  left: -.2em;
  text-shadow: none;
  z-index: -300;
}

.testimonial-quote cite {
  color: gray;
  display: block;
  font-size: .8em;
}

.testimonial-quote cite span {
  color: #5e5e5e;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px white;
}

.testimonial-quote {
  position: relative;
}

.testimonial-quote .quote-container {
  padding-left: 160px;
}

.testimonial-quote.right .quote-container {
  padding-left: 0;
  padding-right: 160px;
}

.testimonial-quote.right img {
  left: auto;
  right: 0;
}

.testimonial-quote.right cite {
  text-align: right;
}

.heading {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 3rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

/* Global Setting */

.title-bar {
  background-color: #ffffff;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.title>a.style-a {
  position: relative;
  color: #0e9f9a;
  /* Color of Title */
  text-decoration: none;
}

.jumbotron {
  background-color: transparent;
  border-radius: 0.2rem;
}

/* World Map */

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #f5f5f5;
}

.graticule {
  fill: none;
  stroke: #777777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: darkgrey;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.ctr {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .ctr {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .ctr {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .ctr {
    width: 1170px;
  }
}

/*Vaccine Introduction*/
#title {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
}

.black {
  color: black;
  font-size: 16px;
  margin-top: 0.5rem;
}

#inline {
  display: inline;
}

span.highlight {
  font-family: sans-serif;
  font-size: 16px;
  /*margin: 0.5rem;*/
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: white;
}

.stage0 {
  background-color: #c1c8e4;
}

.stage1 {
  background-color: #84ceeb;
}

.stage2 {
  background-color: #5ab9ea;
}

.stage3 {
  background-color: #2b98d2;
}

.stage4 {
  background-color: #3aafa9;
}

/* filter menu */
.filter {
  /* background-color: rgba(255, 194, 129, 0.25); */
  background-color: #faf4e5;
  margin-top: 0.5rem;
  padding: 0.5rem 0 0.5rem 2rem;
  /* padding-left: 2rem;
  padding-bottom: 0.6rem; */
}

*.filter {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.filtertext {
  display: table-cell;
  font-weight: 400;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-stage {
  color: #fff;
  background-color: #33b7b3;
  border-color: #217778;
}

.btn-stage:focus, .btn-stage.focus {
  color: #fff;
  background-color: rgb(55, 137, 147);
  border-color: #1b5f5c;
}

.btn-stage:hover {
  color: #fff;
  background-color: #2c9794;
  border-color: #1c635d;
}

.btn-stage:active, .btn-stage.active, .open > .dropdown-toggle.btn-stage {
  background-image: none;
}

.btn-stage .badge {
  color: #6dafaf;
  background-color: #fff;
}

.btn-country {
  color: #fff;
  background-color: #ec701e;
  border-color: #ba9537;
}

.btn-country:focus, .btn-country.focus {
  color: #fff;
  background-color: #b65e24;
  border-color: #b16429;
}

.btn-country:hover {
  color: #fff;
  background-color: #c75f18;
  border-color: #a36331;
}

.btn-country:active, .btn-country.active, .open > .dropdown-toggle.btn-country {
  background-image: none;
}

.btn-country .badge {
  color: #af916d;
  background-color: #fff;
}

.overflow {
  height: 15rem;
  overflow-y: auto;
  /*position: relative!important;*/
}

.overflow::-webkit-scrollbar {
  width: 10px;
  border-radius: 0.2rem;
}

/* Track */
.overflow::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.2rem;
}

/* Handle */
.overflow::-webkit-scrollbar-thumb {
  background: #aaa9a9;
  border-radius: 0.2rem;
}

/* Handle on hover */
.overflow::-webkit-scrollbar-thumb:hover {
  background: #848484;
  border-radius: 0.2rem;
}

.btn-types {
  color: #fff;
  background-color: #b683ec;
  border-color: #705bbd;
}

.btn-types:focus, .btn-types.focus {
  color: #fff;
  background-color: #8156b1;
  border-color: #6149b1;
}

.btn-types:hover {
  color: #fff;
  background-color: #956cc1;
  border-color: #6451a8;
}

.btn-types:active, .btn-types.active, .open > .dropdown-toggle.btn-types {
  background-image: none;
}

.btn-types .badge {
  color: #746daf;
  background-color: #fff;
}

.dropdown-item-0 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-0.active, .dropdown-item-0:active {
  color: #fff;
  background-color: #c1c8e4;
}

.dropdown-item-1 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-1.active, .dropdown-item-1:active {
  color: #fff;
  background-color: #84ceeb;
}

.dropdown-item-2 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-2.active, .dropdown-item-2:active {
  color: #fff;
  background-color: #5ab9ea;
}

.dropdown-item-3 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-3.active, .dropdown-item-3:active {
  color: #fff;
  background-color: #2b98d2;
}

.dropdown-item-4-1 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-4-1.active, .dropdown-item-4-1:active {
  color: #fff;
  background-color: rgba(58, 175, 169, 0.6);
}

.dropdown-item-4 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-4.active, .dropdown-item-4:active {
  color: #fff;
  background-color: #3aafa9;
}

.dropdown-item-ctry {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-ctry.active, .dropdown-item-ctry:active {
  color: #fff;
  background-color: rgba(102, 152, 255, 0.68);
}

.dropdown-item-type {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item-type.active, .dropdown-item-type:active {
  color: #fff;
  background-color: rgba(194, 135, 155, 0.66);
}

.column {
  /* padding: 1rem 2rem; */
  margin: 0;
}

.align-right {
  position: absolute;
}

.mobile-filter {
  /*background-color: #faf4e5;*/
  padding-top: 1rem;
}

.btn-filter {
  color: #fff;
  background-color: #359afa;
  border-color: #359afa;
  border-bottom: 2px solid #148192;
}

.btn-filter:hover {
  color: #fff;
  background-color: #045dac;
  border-color: #0583fc;
}

.btn-filter:not(:disabled):not(.disabled):active,
.btn-filter:not(:disabled):not(.disabled).active,
.show > .btn-filter.dropdown-toggle {
  color: #fff;
  background-color: #359afa;
  border-color: #0882f6;
}

.btn-clear {
  color: #fff;
  background-color: #f85c5c;
  border-color: #f85c5c;
  border-bottom: 2px solid #b83838;
}

.btn-clear:hover {
  color: #fff;
  background-color: #ae3c3c;
  border-color: #942323;
}

.btn-clear:not(:disabled):not(.disabled):active,
.btn-clear:not(:disabled):not(.disabled).active,
.show > .btn-clear.dropdown-toggle {
  color: #fff;
  background-color: #d35b00;
  border-color: #a54a04;
}

.btn-clear:not(:disabled):not(.disabled):active:focus,
.btn-clear:not(:disabled):not(.disabled).active:focus,
.show > .btn-clear.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.05rem rgb(255, 114, 7);
}

.dropdown-mobile {
  position: relative;
  width: 97%;
  text-align: left !important;
}


.btn-default.btn-mobile-stage.active {
  /*background-color: #5ab9ea;*/
  color: #ffffff;
  background-color: #33b7b3;
}

.btn-mobile-country {
  margin-right: 0.3rem;
  min-width: 50px;
}

.btn-default.btn-mobile-country.active {
  /*background-color: #5ab9ea;*/
  color: #ffffff;
  background-color: #ec701e;
}

.btn-mobile-type {
  margin-right: 0.3rem;
  min-width: 50px;
  margin-bottom: 0.3rem;
}

.btn-default.btn-mobile-type.active {
  /*background-color: #5ab9ea;*/
  color: #ffffff;
  background-color: #b683ec;
}

/*.dropdown-item-ctry.active{*/
/*  !*background-color: #5ab9ea;*!*/
/*    color: #ffffff;*/
/*  background-color: #b683ec;*/
/*}*/
.btn-default {
  border: 1px solid rgba(143, 182, 241, 0.98);
  outline: 0;
  box-shadow: 0 0 0 0 !important;
}

.modal-body {
  padding: 0.7rem;
  margin-top: 0.3rem;
}

p.subtag {
  font-size: 0.9rem;
  color: grey;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.close {
  line-height: 0.5rem;
  opacity: 0.3;
}

.mobile-dropdown-item-ctry {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 320;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.mobile-dropdown-item-ctry.active, .mobile-dropdown-item-ctry:active {
  color: #fff;
  background-color: rgba(102, 152, 255, 0.68);
  font-weight: 350;
}

h6 {
  margin-top: 1rem;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  border-top: 1px solid #e9ecef;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.dropdown-mobile.dropdown-toggle::after {
  display: none;
}

h1.title {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  /*font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;*/
  font-weight: 700;
  /*font-variant: small-caps;*/
}

.footer-link {
  color: #dde3e1;
  /*padding-bottom: 1rem;*/
}

.footer-link:hover {
  color: #c6cfce;
  cursor: pointer;
  text-decoration: underline;
}

.close {

}

.update-time {
  color: #435bf6;
  font-weight: lighter;
  font-family: Kefa, sans-serif;
}

.news-wrapper {
  /*background-color: rgba(233, 233, 233, 0.7);*/
  border: 2px solid orangered;
  width: 70%;
  margin: 2rem auto;
  border-radius: 0.3rem;
}

.news {
  padding: 1rem 0;
}

.news-list {
  margin-top: 2rem;
  padding-left: 7rem;
  padding-right: 1.5rem;
}

.news-text {
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.news-company {
  font-weight: 400;
  color: #023cae;
}

.news-company:hover {
  cursor: pointer;
  color: #051058;
}

/*.news-company:visited{*/
/*  !*cursor: pointer;*!*/
/*  color: darkslateblue;*/
/*}*/
#news-title {
  font-family: Kefa, sans-serif;
  font-variant: small-caps;
  font-size: 2.5rem;
}

.bars-text:hover {
  cursor: pointer;
  text-decoration: underline;
  /*color: darkblue!important;*/
}

tspan {
  fill: #023cae;
}

.filter {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/* For Latest News Database */
.news_tag {
  font-variant: small-caps;
}
#news_tag_new{
  color: darkorange;
}

#news_tag_breaking_news{
  color: purple;
}

#news_tag_top{
  color: darkcyan;
}

#news_tag_about{
  color: dodgerblue;
}