/* Header */
.jumbotron {
  padding: 1.5rem 2rem 1.2rem 2rem;
  margin-bottom: 20px;
  background-color: #eaf9f7;
  border-radius: 0.2rem;
}

a.style-a {
  color: #fff;
  text-decoration: none;
  padding: 0 0 0.5rem;
  position: relative;
}

#title > a.style-a {
  position: relative;
  color: darkslateblue;
  text-decoration: none;
}

/* Hover Headerbar Effect */
.header-text {
  margin-top: 0.3rem;
  color: #00008b;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: lighter;
  padding: 0;
  position: relative;
  display: inline-block;
}


.header-text > a.style-a {
  position: relative;
  color: #000;
  text-decoration: none;
}

.header-text > a.style-a:hover {
  color: #000;
}

.header-text > a.style-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.15rem;
  bottom: 0;
  left: 0;
  background-color: darkorange;
  border-radius: 0.1rem;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.25s ease-in-out 0s;
}

.header-text > a.style-a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Coming Soon Toolkit */
.coming-soon{
  font-size: 1.2rem;
}

.header-text .coming-soon {
  visibility: hidden;
  width: 160px;
  background-color: rgba(135, 133, 133, 0.87);
  color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  padding: 5px 2px;

  /* Position */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -80px;
}


.header-text:hover .coming-soon {
  visibility: visible;
}

/* #headerbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
} */
.column-card {
  float: left;
  width: 50%;
  /*margin-bottom: 16px;*/
  /*padding: 0 8px;*/
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.8rem;
  padding: 2rem;
  background-color: rgba(243, 252, 245, 0.31);
}

.cursive{
  font-family: Brush Script MT, Brush Script Std, cursive;
  color: #111b2b;
  font-size: 4rem;
}

/* Positive Quote Tab */
.positive{
  padding: 1.5rem 2rem 1.2rem 2rem;
  margin-bottom: 20px;
  background-color: #f1f6fd;
  border-radius: 0.2rem;
}


.testimonial-quote {
    font-size: 16px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;

    background: none;
    color: gray;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
}

.testimonial-quote blockquote * {
    box-sizing: border-box;
}

.testimonial-quote blockquote p {
    color: #75808a;
    line-height: 1.4 !important;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #55deca;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}


.testimonial-quote cite {
    color: gray;
    display: block;
    font-size: .8em;
}

.testimonial-quote cite span {
    color: #5e5e5e;
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white;
}

.testimonial-quote {
    position: relative;
}

.testimonial-quote .quote-container {
    padding-left: 160px;
}

.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px;
}

.testimonial-quote.right img {
    left: auto;
    right: 0;
}

.testimonial-quote.right cite {
    text-align: right;
}

.heading {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-left: 3rem;
}

.row {
  margin-right: 0;
}

/* World Map */

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #f2f2f2;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.land {
  fill: darkgrey;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.ctr {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .ctr {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .ctr {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .ctr {
    width: 1170px;
  }
}

/*Vaccine Introduction*/

#title {
  font-family: Garamond, EB Garamond, Georgia, serif;
}

.black {
  color: black;
  font-size: 16px;
  margin-top: 0.5rem;
}

#inline {
  display: inline;
}

span.highlight {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: white;
}

.stage0 {
  background-color: #c1c8e4;
}

.stage1 {
  background-color: #84ceeb;
}

.stage2 {
  background-color: #5ab9ea;
}

.stage3 {
  background-color: #88bdbc;
}

.stage4 {
  background-color: #3aafa9;
}

/* filter menu */

.filter {
  background-color: rgba(255, 194, 129, 0.25);
  margin-top: 0.5rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

/* .filter * {
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
} */

.filtertext {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}

.btn-stage {
  color: #fff;
  background-color: #33b7b3;
  border-color: #217778;
}

.btn-stage:focus, .btn-stage.focus {
  color: #fff;
  background-color: rgb(55, 137, 147);
  border-color: #1b5f5c;
}

.btn-stage:hover {
  color: #fff;
  background-color: #2c9794;
  border-color: #1c635d;
}

.btn-stage:active, .btn-stage.active, .open>.dropdown-toggle.btn-stage {
  background-image: none;
}

.btn-stage .badge {
  color: #6dafaf;
  background-color: #fff;
}

.btn-country {
  color: #fff;
  background-color: #ec701e;
  border-color: #ba9537;
}

.btn-country:focus, .btn-country.focus {
  color: #fff;
  background-color: #b65e24;
  border-color: #b16429;
}

.btn-country:hover {
  color: #fff;
  background-color: #c75f18;
  border-color: #a36331;
}

.btn-country:active, .btn-country.active, .open>.dropdown-toggle.btn-country {
  background-image: none;
}

.btn-country .badge {
  color: #af916d;
  background-color: #fff;
}

.overflow {
  height: 15rem;
  overflow-y: auto;
}
.overflow::-webkit-scrollbar{
  width: 10px;
  border-radius: 0.2rem;
}

/* Track */
.overflow::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0.2rem;
}

/* Handle */
.overflow::-webkit-scrollbar-thumb {
  background: #aaa9a9;
  border-radius: 0.2rem;
}

/* Handle on hover */
.overflow::-webkit-scrollbar-thumb:hover {
  background: #848484;
  border-radius: 0.2rem;
}

.btn-types {
  color: #fff;
  background-color: #b683ec;
  border-color: #705bbd;
}

.btn-types:focus, .btn-types.focus {
  color: #fff;
  background-color: #8156b1;
  border-color: #6149b1;
}

.btn-types:hover {
  color: #fff;
  background-color: #956cc1;
  border-color: #6451a8;
}

.btn-types:active, .btn-types.active, .open>.dropdown-toggle.btn-types {
  background-image: none;
}

.btn-types .badge {
  color: #746daf;
  background-color: #fff;
}

.dropdown-item-0 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item-0.active, .dropdown-item-0:active {
  color: #fff;
  background-color: #c1c8e4;
}

.dropdown-item-1 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item-1.active, .dropdown-item-1:active {
  color: #fff;
  background-color: #84ceeb;
}

.dropdown-item-2 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item-2.active, .dropdown-item-2:active {
  color: #fff;
  background-color: #5ab9ea;
}

.dropdown-item-3 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item-3.active, .dropdown-item-3:active {
  color: #fff;
  background-color: #88bdbc;
}

.dropdown-item-4 {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item-4.active, .dropdown-item-4:active {
  color: #fff;
  background-color: #3aafa9;
}

.dropdown-item-ctry {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item-ctry.active, .dropdown-item-ctry:active {
  color: #fff;
  background-color: rgba(102, 152, 255, 0.68);
}

.dropdown-item-type {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0
}

.dropdown-item-type.active, .dropdown-item-type:active {
  color: #fff;
  background-color: rgba(194, 135, 155, 0.66);
}

.column {
  padding: 1rem 2rem;
  margin: 0;
}

.align-right {
  position: absolute;
  right: 20%;
}

.clear-filter {
  color: transparent;
  border-bottom: darkslateblue
}