p.q {
  font-family: Futura;
  font-size: 8px;
}

@media (min-width:400px) {
  p.q {
    font-size: 15px;
  }
  p.author {
    font-size: 9px;
  }
}

@media (min-width:800px) {
  p.q {
    font-size: 28px;
  }
  p.author {
    font-size: 14px;
  }
}

@media (min-width:1200px) {
  p.q {
    font-size: 40px;
  }
  p.author {
    font-size: 20px;
  }
}

.blockquote {
  color: purple;
}

.jumbotron {
  /* padding: 2rem;
  padding-left: 3rem;
  margin-bottom: 0rem;
  background-color: #c7ea46;
  border-radius: 0.3rem; */
  padding: 2rem;
  padding-left: 3rem;
  margin-bottom: 0rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
}

.heading {
  margin-top: 1.5rem;
  margin-bottom: 1.5 rem;
  padding-left: 3rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgbox {
  display: grid;
  height: 100%;
}

.imgbox::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(225, 240, 255, 0.6);
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  max-width: none;
  padding: 0;
  margin: 0;
}