{% extends 'error/error.html' %}

{% block title %}
    <title>500 Server Error - PanElixir</title>
{% endblock %}

{% block content %}
<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h3><strong>HTTP 500 Server Error</strong></h3>
                <hr>
                <span class="lead">Oops! An unexpected error occurred and we cannot fulfill your request now. Please check back later.</span>
                <div class="mb-4"></div>

                <p><a href="/forum">Back to Home</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}