<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="PanElixir's COVID-19 vaccine tracker traces the distribution, development, and side effects of vaccines around the world. Here, you can also find news, stories, maps, and frequently asked questions from the CDC and medical experts.">
    <title>404 Not Found - PanElixir</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--External Source Library-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        #elixir {
            color: #9400D3 !important;
        }

        .elixir {
            color: #9400D3 !important;
        }
    </style>
</head>
<body>
    <div class="title-bar">
        <h1 class="title text-center">
            <a class="style-a elixir" href="/">Global COVID-19 Vaccine Frontline</a>
        </h1>
    </div>

    <div class="text-center" style="margin-top: 10%;">
        <p style="font-size: 200%;">Sorry, the page you're looking for cannot be found.</p>

        <a href="/" class="btn btn-primary mt-5">Back to Home</a>
    </div>


</body>
</html>