{% extends "layout.html" %}

{% block styles %}
<!--External Source Library-->
<link rel="stylesheet" href="../static/css/bootstrap.css">
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<h5 class="text-center" style="color: darkmagenta; margin-bottom: 3rem;"><i>This website is made by Tony and Lola,
    aiming to spread love and hope to everyone during the coronavirus pandemic.</i></h5>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-center">Tony Liu</h3>
            <p>Tony is a 16-year-old teenager who loves computer science. He was an exchange student to Dwight School New York
                when the city became the global epicenter of COVID-19. During that time, he visited webpages tracking the
                number of cases in each country over five times a day. Seeing the number of cases growing swiftly, he thought he
                might be able to do something for the community. In a conversation with his daddy, he was inspired by the idea of tracking
                the progress of the vaccines instead of the number of cases. However, due to limited time and resources, the first attempt of
                creating the website wasn't successful. During summer vacation, he took the S-14A course at Harvard Summer School that
                taught him a lot on building interactive web applications. Together with his aunt Lola, an undergraduate at UC San Diego,
                they spent nearly a month on building this website, aiming to spread positivity to people during the pandemic.</p>
        </div>
        <div class="col">
            <h3 class="text-center">Lola Liu</h3>
            <p></p>
        </div>
    </div>
</div>
<div class="positive text-center">
    <h2><i>"So let's all get together we can all be free, <br>
        spread love</i>&#10084;<i>, understanding</i>&#129309;<i>, and positivity</i>&#128155;<i>."</i></h2>
    <h5>-- Ed Sheeran  <i>"What Do I Know"</i></h5>
</div>

{% endblock %}