{% extends "layout.html" %}

{% block styles %}
<!--External Source Library-->
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<!--<h5 class="text-center" style="color: darkmagenta; margin-bottom: 3rem;"><i>This website is made by Tony and Xuran,-->
<!--    aiming to spread love and hope to everyone during the coronavirus pandemic.</i></h5>-->
<div class="container">
    <div class="row">
        <div class="column-card">
            <div class="card">
            <h4 class="text-center cursive">Tony Liu</h4>
                <p class="intro-us" style="font-family: Noto Sans, sans-serif;"> Tony is a 16-year-old teenager who loves computer science. He was an exchange student to Dwight School New York
                    when the city became the global epicenter of COVID-19. During that time, he often visited webpages tracking the
                    number of cases in each country. Seeing the number of cases growing swiftly every day, he thought that instead of staring at the red numbers,
                    maybe positivity is what people need more during the pandemic. During a conversation with his dad, he was inspired by the idea to track the progress of
                    vaccines instead of the number of cases. With all the hope and passion, he and his friend Xuran spent nearly a month on building this website,
                    wishing to help more people and spread positivity during the COVID-19 pandemic.</p>
            </div>
        </div>
        <div class="column-card">
                <div class="card">
                <h4 class="text-center cursive">Xuran Liu</h4>
                <p class="intro-us" style="font-family: Noto Sans, sans-serif;">Xuran is a first-year graduate student at Carnegie Mellon University and has achieved her Bachelor's degree at UC San Diego,
                    double majored in Computer Science and Applied Math. She has always paid close attention to the COVID-19 pandemic. After getting the invitation from Tony, she thought
                    it is a perfect idea to develop a platform that tracks the process of vaccine development. Given the urgent need for vaccines and the large number of companies that
                    are working on developing treatments, they aim to provide a user-friendly website where people can get the latest and the most accurate update on the development of vaccines.</p>
            </div>
        </div>
    </div>
</div>
<div class="positive testimonial-quote text-center">
    <blockquote><p class="quote">So let's all get together we can all be free,
        spread love❤️ and understanding&#129309;, positivity&#128155;.</p>
    </blockquote>
    <cite><span>-- Ed Sheeran</span> &nbsp;<b><i>"What Do I Know"</i></b></cite>
</div>

{% endblock %}