<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institutions</title>
    <script src="../static/js/card.js"></script>
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
    <div class="institutions">
        <my-card img='../static/img/img1.png' data-text='test'></my-card>
        <my-card img='../static/img/img2.png'></my-card>
        <!-- <img src="../static/img/img2.png"> -->
    </div>
    <!-- <div id="progress">
        <div id="pbar"></div>
    </div> -->


    
</body>
</html>