{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
{#<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#{% extends "layout.html" %}#}
{#<style>#}
{#{% block styles %}#}
<style>
   .fas {
       margin-right: 0.2rem;
   }

table.compare-vaccines {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

.compare-vaccines th, .compare-vaccines td {
    text-align: center;
    padding: 16px;
    color: #0b58de;
}

.compare-vaccines th:first-child, .compare-vaccines td:first-child {
    text-align: left;
}
@media screen and (max-width: 767px) {
    .compare-vaccines td, .compare-vaccines th {
        font-size: 11px;
        padding: 7px;
    }

    .fas {
        margin-right: 0.1rem;
    }
}
</style>
{#{% endblock %}#}
{##}
{#</style>#}
{#</head>#}
{##}
{##}
{#{% block scripts %}#}
{#    <script src="../static/js/index.js"></script>#}
{#{% endblock %}#}
{#<body>#}
{#{% block content %}#}

{#<h2>Pfizer vs. Moderna, Which is Better?</h2>#}

<table class="table table-bordered compare-vaccines">
{#  <tr>#}
{#      <th style="width: 16.7%;">&nbsp;</th>#}
{#      <th style="width: 41.6%;">&nbsp;</th>#}
{#      <th style="width: 41.6%;">&nbsp;</th>#}
{#    <th style="width:15%">Vaccine Summary</th>#}
{#    <th>#}
{#        Pfizer#}
{#        <select id="compare-dropdown-1">#}
{#            <option class="vaccine-option-1" value="Pfizer">Pfizer</option>#}
{#            <option class="vaccine-option-1" value="Moderna">Moderna</option>#}
{#            <option value="opel">Opel</option>#}
{#            <option value="audi">Audi</option>#}
{#        </select>#}
{#    </th>#}
{#    <th style="border-left: 1px solid #0b2e13">#}
{#        Moderna#}
{#        <select id="compare-dropdown-2">#}
{#            <option class="vaccine-option-2" value="Moderna">Moderna</option>#}
{#            <option class="vaccine-option-2" value="Pfizer">Pfizer</option>#}
{#            <option value="opel">Opel</option>#}
{#            <option value="audi">Audi</option>#}
{#        </select>#}
{#    </th>#}
{#  </tr>#}
    <tr>
        <td style="width: 20%;"><i class="fas fa-font"></i>Name</td>
        <td style="width: 40%;">{{summary1['candidate_name']}}</td>
        <td style="width: 40%;">{{summary2['candidate_name']}}</td>
    </tr>
    <tr>
        <td><i class="fas fa-info-circle"></i>Status</td>
        <td>{{summary1['status']}}</td>
        <td>{{summary2['status']}}</td>
    </tr>
    <tr>
        <td><i class="fas fa-dna"></i>Vaccine Type</td>
        <td>{{summary1['type']}}</td>
        <td>{{summary2['type']}}</td>
    </tr>
    <tr>
        <td><i class="fas fa-check-circle"></i>Efficacy</td>
        <td>{{summary1['efficacy']}}</td>
        <td>{{summary2['efficacy']}}</td>
    </tr>
    <tr>
        <td><i class="fas fa-user"></i>Trial Size</td>
        <td>{{summary1['trial_size']}}</td>
        <td>{{summary2['trial_size']}}</td>
    </tr>
    <tr>
        <td><i class="fas fa-hashtag"></i>Dose</td>
        <td>{{summary1['dose']}}</td>
        <td>{{summary2['dose']}}</td>
    </tr>
    <tr>
        <td><i class="fas fa-syringe"></i>Injection Type</td>
        <td>{{summary1['injection_type']}}</td>
        <td>{{summary2['injection_type']}}</td>
    </tr>
    <tr>
      <td><i class="fas fa-thermometer-quarter"></i>Storage</td>
      <td>{{summary1['storage']}}</td>
      <td>{{summary2['storage']}}</td>
{#    <td><i class="fa fa-check"></i></td>#}
{#    <td><i class="fa fa-check"></i></td>#}
    </tr>

    <tr>
        <td><i class="fas fa-exclamation-triangle"></i>Side Effects</td>
        <td>{{summary1['side_effects'] | safe}}</td>
        <td>{{summary2['side_effects'] | safe}}</td>
{#    <td><i class="fa fa-check"></i></td>#}
{#    <td><i class="fa fa-check"></i></td>#}
    </tr>
</table>
{#{% endblock %}#}
{##}
{#</body>#}
{#</html>#}
