{% extends "forumLayout.html" %}

{% block styles %}
{% endblock %}


{% block scripts %}
    {{ super() }}
{% endblock %}

{% set active_favorites = true %}
{% block content %}
    <div class="ctr">
        <h3 class="my-3">Your Favorites</h3>
        <div class="favorite-entities">
            {% for favorite in all_favorites %}
                {% if favorite['category'] == "post" %}
                    {% set post = favorite['entity'] %}
                    {{ m.showPost(post, true) }}
                {% endif %}
            {% endfor %}
            {% if all_favorites|length == 0 %}
                <p>You don't have any items in favorites yet!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
