{% extends "forumLayout.html" %}

{% block title %}
    <title>PanElixir Forums - Global COVID-19 Vaccine Frontline</title>
{% endblock %}

{% block styles %}
{% endblock %}

{% block scripts %}
{#    <script src="../static/js/library/jquery.js"></script>#}
    <script src="../static/js/forum.js"></script> <!--jQuery required-->

{% endblock %}

{% block content %}
{#    <div class="ctr posts-wrapper">#}
        <div class="container mt-2 forum-homepage">
            <div class="row">
                <div class="col-lg-3">
{#            <div class="main-body p-0">#}
{#                <div class="inner-wrapper">#}
                    <!-- Inner sidebar -->
                    <div class="inner-sidebar">
                        <div class="inner-sidebar-header justify-content-center">
                            <a href="{{ url_for("forum.forumNewPost") }}">
                                <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">
                                    <i class="fas fa-plus"></i>
                                    New Post
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            <div class="col-lg-9 col-12">
                {% for post in posts %}
                    {{ m.showPost(post, true if cUserInfo is not none else false) }}
                {% endfor %}
            </div>
        </div>
    </div>

{#            <a class="mobile-float-icon" href="{{ url_for("forum.forumNewPost") }}">#}
{#                <button class="btn btn-primary has-icon btn-block" type="button" data-toggle="modal" data-target="#threadModal">#}
{#                    <i class="fas fa-plus"></i>#}
{#                    New Post#}
{#                </button>#}
{#            </a>#}


    <page-pagination page="{{ pagi_data['page'] }}" baseuri="{{ pagi_data['baseuri'] }}" totalpages="{{ pagi_data['totalPages'] }}"></page-pagination>


{% endblock %}
