{% import 'forum-macros.html' as m %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="PanElixir forums is a platform where you can discuss vaccine or health-related topics with others. It's created so that we can share helpful information related to our well-being with each other during this critical time. Please be kind to each other, and stay healthy as we get through the final stage of the pandemic!">

    {% block title %}
        <title>PanElixir Forums</title>
    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="../static/css/all.css"> <!--FontAwesome-->

    <!--External Source Library-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/forum.css" rel="stylesheet">
    <!-- Styles -->
    <style>
        .elixir {
            color: #9400D3 !important;
        }
    </style>
    {% block styles %}
    {% endblock %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light sticky-top">

    <h1 class="title text-center ml-2">
        <a class="elixir text-decoration-none" href="/forum">
            <img id="logo-img" src="../static/img/panelixir-logo.png" alt="logo">
            <span class="logo-text">PanElixir Forums</span>
        </a>
    </h1>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

{#    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#        <ul class="navbar-nav mr-auto">#}
{#            <li class="nav-item active">#}
{#                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
{#            </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="#">Link</a>#}
{#              </li>#}
{#        </ul>#}
{#    </div>#}

    {% if not hideNavUser %}
    <div class="navbar-collapse collapse order-3 dual-collapse2" id="navbarMenu">

        <ul class="navbar-nav ml-auto" style="display: flex; align-items: center">
            {% if cUserInfo is not none %}
                <li class="nav-item dropdown">
                    <div class="nav-link profile-dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display: flex; align-items: center">
                        <div class="image-wrapper mr-1">
                            <img class="rounded-circle profile" width="30" src="{{ cUserInfo['picture'] }}" alt="User">
                        </div>

                        <div>
                            <span class="nav-link">{{ cUsername }}</span>
                        </div>
                    </div>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ url_for("forum.userProfile", username=cUsername) }}">Profile</a>
    {#                          <a class="dropdown-item" href="#">Another action</a>#}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/google/logout" style="color:rgb(224, 36, 94);">Sign Out</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="{% if active_favorites %}active{% endif %} nav-link" href="{{ url_for("forum.favorites") }}">Favorites</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for("google_auth.login") }}"><button class="btn btn-primary">Sign In</button></a>
                </li>
            {% endif %}

        </ul>
    </div>
    {% endif %}
</nav>
<!-- Heading Bar of Webpage-->
{#<div class="title-bar">#}
{#    <div class="row">#}
{##}
{#    <h1 class="title text-center">#}
{#        <img id="logo-img" src="../static/img/panelixir-logo.png" alt="logo" style="height: 40px; display: inline;">#}
{#        <a class="style-a elixir" href="/forum">PanElixir Forums</a>#}
{#    </h1>#}
{##}
{#<!--        <h5 class="header-text align-right" style="right: 27%">Home</h5>-->#}
{#        <h5 class="header-text" id="submit-data" style="position: absolute; right: 15%">#}
{#            <b style="color: darkorange;">New! </b>#}
{#            <a class="style-a" href="/vaccine-faq">FAQs</a>#}
{#        </h5>#}
{#        <span class="coming-soon">Coming Soon</span></h5>#}
{#        <h5 class="header-text" id="about-us" style="position: absolute; right: 5%">#}
{#            <a class="style-a" href="/about-us">About Us</a>#}
{#        </h5>#}
{#    </div>#}
{#</div>#}

{#<div class="social-media-share">#}
{#    <a href="/google/login"><button class="btn btn-primary" style="float: left;">Login</button></a>#}
{#    <div class="col col-md-12 col-sm-12">#}
{#        <div id="google_translate_element"></div>#}
{#    </div>#}
{#    <div class="col col-md-12 col-sm-12">#}
{#        <span class="share-text">Help us spread positivity ❤ </span><div class="sharethis-inline-share-buttons"></div>#}
{#    </div>#}
{#</div>#}

<!-- Content -->
{% block content %}
{% endblock %}

<div class="snackbar">Message</div>

<div style="height: 2rem;"></div>
    <footer class="page-footer font-small pt-4">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="footer-text-wrapper col-md-6 mt-md-0 mt-6" style="text-align:justify">
                    <!-- Content -->
                    <h4 class="text-uppercase">PanElixir Forums</h4>
                    <!-- <p>Legal Disclaimer</p> -->
                    <p class="disclaimer-font">This website is a platform where you can discuss vaccine or health-related topics with others. It's created so that we can share helpful information related to our well-being with each other during this critical time. Please be kind to each other, and stay healthy as we get through the final stage of the pandemic!</p>
{#                    <p class="disclaimer-font">Sources:&nbsp;<i>World Health Organization, The New York Times, New England Journal of Medicine, U.S. Department of Health and Human Services</i></p>#}

                </div>
                <div class="col-md-1 mb-md-0 mb-1"></div>

                <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->


                <div class="col-md-2 col-6 mb-md-0 mb-3" >
                 <div class="break" style="height: 1rem;"></div>
                    <!-- <h5 class="text-uppercase"  style="color: #c6cecc;"></h5> -->
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <h5 class="quick-actions"><b>PanElixir</b></h5>
                        </li>
                        <li class="mb-2">
                            <span class="footer-link"><a href="/">Vaccine Frontline</a></span>
                        </li>
{#                        <li class="mb-2">#}
{#                            <a class="footer-link" href="/about-us">About Us</a>#}
{#                        </li>#}
                        <li class="mb-2">
                            <span class="footer-link"><a href="/forum">Forums</a></span>
                        </li>
{#                        <li class="mb-2">#}
{#                            <a class="footer-link" href="https://docs.google.com/forms/d/e/1FAIpQLSd7CCOO0bbHt0vP_JMwoWrHhwfNUoH2WYTt9MRk3PuGuJiXLw/viewform?usp=sf_link" target="_blank">Submit Data</a>#}
{#                        </li>#}
                        <li class="mb-2">
                            <span class="footer-link"><a href="/about-us">About Us</a></span>
                        </li>
                    </ul>
{#                    <div class="our-social-media">#}
{#                        <a href="https://www.instagram.com/panelixir"><i class="fab fa-instagram"></i></a>#}
{#                        <a href="https://www.facebook.com/panelixir"><i class="fab fa-facebook"></i></a>#}
{#                        <a href="https://twitter.com/panelixir"><i class="fab fa-twitter"></i></a>#}
{#                        <a href="https://www.youtube.com/channel/UCVyX3rJK-fvgDYahFWohTEg/featured"><i class="fab fa-youtube"></i></a>#}
{#                    </div>#}

                </div>
{#                <div class="col-md-1 mb-md-0 mb-1"></div>#}

                <div class="col-md-2 col-6 mb-md-0 mb-3" >
                 <div class="break" style="height: 1rem;"></div>
                    <!-- <h5 class="text-uppercase"  style="color: #c6cecc;"></h5> -->
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <h5 class="quick-actions"><b>Quick Actions</b></h5>
                        </li>
                        <li class="mb-2">
                            <span class="footer-link" id="back-to-top" title="Go to top of the page">Back to Top</span>
                        </li>
{#                        <li class="mb-2">#}
{#                            <a class="footer-link" href="/about-us">About Us</a>#}
{#                        </li>#}
                        <li class="mb-2">
                            <span class="footer-link"><a href="mailto: panelixir@hotmail.com">Contact Us</a></span>
                        </li>
{#                        <li class="mb-2">#}
{#                            <a class="footer-link" href="https://docs.google.com/forms/d/e/1FAIpQLSd7CCOO0bbHt0vP_JMwoWrHhwfNUoH2WYTt9MRk3PuGuJiXLw/viewform?usp=sf_link" target="_blank">Submit Data</a>#}
{#                        </li>#}
                        <li class="mb-2">
                            <span class="footer-link"><a href="https://docs.google.com/forms/d/e/1FAIpQLScNYCakJh7ATXJREYoiUv3cM62r07sAw-n4zRCy09uWPFlmMg/viewform?usp=sf_link" target="_blank">Report a Problem</a></span>
                        </li>
                    </ul>
{#                    <div class="our-social-media">#}
{#                        <a href="https://www.instagram.com/panelixir"><i class="fab fa-instagram"></i></a>#}
{#                        <a href="https://www.facebook.com/panelixir"><i class="fab fa-facebook"></i></a>#}
{#                        <a href="https://twitter.com/panelixir"><i class="fab fa-twitter"></i></a>#}
{#                        <a href="https://www.youtube.com/channel/UCVyX3rJK-fvgDYahFWohTEg/featured"><i class="fab fa-youtube"></i></a>#}
{#                    </div>#}

                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color:#c6cecc; ">Copyright © 2021 PanElixir. All rights reserved.
{#            <a href="https://PANELIXIR.com/" style="color:#c6cecc"> panelixir.com</a>#}
        </div>
    </footer>


{# libraries #}

{#{% if showPost == true %}#}
{#{% block post %}#}

{#{% endblock %}#}
{#{% endif %}#}

<!-- Scripts -->
<!-- Global site tag (gtag.js) - Google Analytics -->
{#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175789024-1"></script>#}
{##}
{#<script>#}
{#  window.dataLayer = window.dataLayer || [];#}
{#  function gtag(){dataLayer.push(arguments);}#}
{#  gtag('js', new Date());#}
{##}
{#  gtag('config', 'UA-175789024-1');#}
{#</script>#}
<script src="../static/js/library/jquery.js"></script>
<script src="../static/js/library/bootstrap.js"></script>
<script>
    function showSnackbar(message) {
        var snackbar = document.querySelector(".snackbar");
        snackbar.innerHTML = message;
        snackbar.classList.add("show");
        setTimeout(function () {
            snackbar.classList.remove("show");
        }, 5000);
    }
</script>

{% block scripts %}
    <script src="../static/js/forum.js"></script> {# call {{ super() }} in child template when need forum.js #}
{% endblock %}


<script>

// Footer Link - Back to Top
document.getElementById("back-to-top").addEventListener("click", scrollToTop);

// Scroll to top button
function scrollToTop() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

{#$("span.ripples").each(function (rippleElement) {#}
{#    $(this).on('webkitAnimationEnd oAnimationEnd msAnimationEnd animationend', function() {#}
{#        console.log(1)#}
{#        $(this).remove()#}
{#        //doSomething#}
{#    });#}
{#})#}
{#let rippleElements = document.querySelectorAll('span.ripples');#}
{#    rippleElements.forEach(function (rippleElement) {#}
{#        rippleElement.addEventListener('animationend', function (event) {#}
{#            alert("Finished transition!");#}
{#        });#}
{##}
{#    })#}


window.addEventListener('mouseup', rippleExit)
function rippleExit (event) {
    let rippleElements = document.querySelectorAll('span.ripples');
    rippleElements.forEach(function (rippleElement) {
        rippleElement.style.animate = "";

        /**
         * March 27, 2021: Tested RippleExit with jQuery and Vanilla JS
         * jQuery: set <span> tag opacity in "style" will not work
         * Vanilla: Need callback function; "animationend" event will fire when the first animation ends
         * Currently use setInterval using the same duration as animate
         */
        let fadeDuration = 1000;
        rippleElement.animate([{opacity: 0.15}, {opacity: 0}], {
            duration: fadeDuration,
            easing: "linear"
        })

        setInterval(function () {
            if (document.body.contains(rippleElement))
                rippleElement.parentNode.removeChild(rippleElement);
        }, fadeDuration);

    })
}


        {#rippleElement.classList.add("ripple-fade");#}
        /*
        if (rippleElement.getBoundingClientRect().height < 500) {
            setTimeout(function () {
                rippleElement.remove();
            }, 500)
        }
        else {
            rippleElement.remove();
        }
        */


{#const buttons = document.querySelectorAll("a.ripple");#}
{#    buttons.forEach(function (button) {#}
{#        button.addEventListener('click', function (e) {#}
            {#let x = event.clientX - event.target.offsetLeft;#}
            {#let y = event.clientY - event.target.offsetTop;#}
{##}
{#            let bodyOffsets = document.body.getBoundingClientRect();#}
{#            let x = e.pageX - bodyOffsets.left;#}
{#            let y = e.pageY;#}
{##}
{#            let rippleElement = document.createElement('span');#}
{#            rippleElement.className = "ripples";#}
{#            rippleElement.style.left = x + 'px';#}
{#            rippleElement.style.top = y + 'px';#}
{#            this.appendChild(rippleElement);#}
{#            // setTimeout(function () {#}
{#            //    rippleElement.remove();#}
{#            // }, 500);#}
{#        });#}
{#    });#}


</script>

</body>

</html>