{% macro showPost(post, loggedIn) %}
<forum-post pid="{{ post['pid'] }}" p-location="{{ request.endpoint }}" p-username="{{ post['username'] }}" p-picture="{{ post['picture'] }}"
                                p-title="{{ post['title'] }}" p-body="{{ post['body'] }}" p-likes="{{ post['likes'] }}" p-date="{{ post['date'] }}"
                                p-liked-by-user="{{ post['likedByUser'] }}" p-views="{{ post['views'] }}" p-edited="{{ post['edited'] }}"
                        p-replies="{{ post['replies'] }}" p-title-link="{{ url_for('.discussion', post_id=post['pid']) }}"
                    p-posted-by-user="{{ post['postedByUser'] }}" p-logged-in="{{ loggedIn }}" p-favorited-by-user="{{ post['favoritedByUser'] }}"></forum-post>
{% endmacro %}

{% macro replaceZero(integer) %}
    {% set integer = integer|int %}
    {% if integer == 0 %}&nbsp;{% else %}{{ integer }}{% endif %}
{% endmacro %}
