<!doctype html>
<html lang="en">

<head>
    <title>COVID-19 Vaccine and Treatment Tracker</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/card.css">
<!--    <script src="../static/js/index.js" type="text/javascript"></script>-->

    

    <style>
    </style>
</head>

<body>
    <!-- Heading Bar of Webpage-->
    <div class="jumbotron">
        <div class="row">
            <div class="column-lg-4">
                <h3>Coronavirus Vaccine and Treatment Tracker</h3>
            </div>
        </div>
    </div>

    <!--Image adding opacity with a positive quote-->
    <section class="container">
        <div class="imgbox">
            <img class="center-fit" src="../static/img/Untitled.png" alt="Vaccine">
            <div class="centered">
                <blockquote class="blockquote">
                    <p class="q">An arrow can only be shot by pulling it backward. So when life is dragging
                        you back with difficulties, it means that it's going to launch you into something great.</p>
                    <p class="author">-- Paulo Coelho</p>
                </blockquote>
            </div>
        </div>
    </section>

    <!--Heading - Question-->
    <!--<div class="heading">-->
    <!--    <h1 id="bold">Who will be the first to develop a vaccine?</h1>-->
    <!--</div>-->

    <!--Filter Data-->
    <div id="TagIWantToLoadTo" class="filter">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="btn1" id="bold">
                        Filter
                    </div>
                </div>
                <!--            Stages-->
                <div class="column">
                    <div class="dropdown">
                        <form action="/" method="POST" enctype="multipart/form-data">
                            <button type="button" class="btn btn-primary dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Stages
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" type="submit" name="stages" value="0">Pre-Clinical</button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" type="submit" name="stages" value="1">Phase I</button>
                                <button class="dropdown-item" type="submit" name="stages" value="2">Phase II</button>
                                <button class="dropdown-item" type="submit" name="stages" value="3">Phase III</button>
                                <div class="dropdown-divider"></div>
                                <button class="dropdown-item" type="submit" name="stages" value="4">Approval</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--            Country-->
                <div class="column">
                    <div class="dropdown">
                        <form id="form1" action="/" method="POST" enctype="multipart/form-data">
                            <button id="dropdownMenuButton"  class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Country
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" type="submit" name="country" value="United States">United States</button>
                                <button class="dropdown-item" type="submit" name="country" value="United Kingdom">United Kingdom</button>
                                <button class="dropdown-item" type="submit" name="country" value="China">China</button>
                                <button class="dropdown-item" type="submit" name="country" value="Japan">Japan</button>
                                <button class="dropdown-item" type="submit" name="country" value="Germany">Germany</button>
                                <button class="dropdown-item" type="submit" name="country" value="India">India</button>
                                <button class="dropdown-item" type="submit" name="country" value="South Korea">South Korea</button>
                                <button class="dropdown-item" type="submit" name="country" value="France">France</button>
                                <button class="dropdown-item" type="submit" name="country" value="Australia">Australia</button>
                                <button class="dropdown-item" type="submit" name="country" value="Russia">Russia</button>
                                <button class="dropdown-item" type="submit" name="country" value="Canada">Canada</button>
                                <button class="dropdown-item" type="submit" name="country" value="Austria">Austria</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--            Vaccine Types-->
                <div class="column">
                    <div class="dropdown">
                        <form action="/" method="POST" enctype="multipart/form-data">
                            <button id="dropdownMenuButton" class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Vaccine Types
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <button class="dropdown-item" name="type" value="Genetic">Genetic Vaccines</button>
                                <button class="dropdown-item" name="type" value="Viral Vector">Viral Vector Vaccines</button>
                                <button class="dropdown-item" name="type" value="Protein-Based">Protein-Based Vaccines</button>
                                <button class="dropdown-item" name="type" value="Whole-Virus">Whole-Virus Vaccines</button>
                                <button class="dropdown-item" name="type" value="Repurposed">Others</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- list institutions -->
    <div class="institutions">
        {% for entry in data %}
        <my-card data-stage={{entry[1]}} data-expand='{{entry[2]}}' data-img='{{entry[3]}}' data-intro='{{entry[4]}}'></my-card>
        {% endfor %}
        
        <!-- <my-card img='../static/img/img2.png'></my-card> -->
        <!-- <img src="../static/img/img2.png"> -->
    </div>

<!--{{ stages }}-->

<!--    {{ country }}-->
<!--    {{ types }}-->
<!--        {{ data }}-->

    <!-- <script>
        $(document).on('click','.dropdown-menu button',function(){
            $(this).parent().parent().find('.dropdown-toggle').html($(this).html()  + ' <span class="fa fa-caret-down"></span>');
        });
    </script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
        defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"
        defer></script>
    <script src="../static/js/card.js"></script>
    {% if scrollToAnchor %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.location.hash = '#{{ scrollToAnchor }}';
        });
    </script>
    {% endif %}

</body>


</html>