<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVID-19 Vaccine and Treatment Tracking</title>
    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .jumbotron {
      padding: 2rem;
      padding-left: 3rem;
      margin-bottom: 0rem;
      background-color: #ffffff;
      border-radius: 0.3rem;
      }
    .heading {
        margin-top: 1.5rem;
        margin-bottom: 1.5 rem;
        padding-left: 3rem;
        }
    #bold{
        font-weight: bold;
        }

    .filter{
        background-color: rgba(255, 194, 129, 0.3);
        margin: 0rem;
        padding-top: 1rem;
        padding-left: 3rem;
        padding-bottom: 1rem;
        }
<!--    #bar1{-->
<!--        color: orange;-->
<!--        }-->
      .column{
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin: 0rem;
        }
        .btn1 {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
<!--  -webkit-user-select: none;-->
<!--  -moz-user-select: none;-->
<!--  -ms-user-select: none;-->
<!--  user-select: none;-->
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
<!--  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;-->
}}


    </style>
</head>
<body>
<!-- Heading Bar of Webpage-->
<div class="jumbotron">
    <div class="row">
        <div class="column-lg-4">
            <h3>Coronavirus Vaccine and Treatment Tracking</h3>
        </div>
    </div>
</div>

<!--Image adding opacity with a positive quote-->
<section class="container">
    <div class="imgbox">
    <img class="center-fit" src="../static/img/Untitled.png" alt="Vaccine">
        <div class="centered">
        <blockquote class="blockquote">
            <p class="q">An arrow can only be shot by pulling it backward. So when life is dragging
            you back with difficulties, it means that it's going to launch you into something great.</p>
            <p class="author">-- Paulo Coelho</p>
        </blockquote>
        </div>
    </div>
</section>

<!--Heading - Question-->
<div class="heading">
    <h1 id="bold">Who will be the first to develop a vaccine?</h1>
</div>

<!--Filter Data-->
<div class="filter">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="btn1" id="bold">
                    Filter
                </div>
            </div>
<!--            Stages-->
            <div class="column">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Stages
                    </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Pre-Clinical</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Phase I</a>
                      <a class="dropdown-item" href="#">Phase II</a>
                      <a class="dropdown-item" href="#">Phase III</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Approval</a>
                  </div>
                </div>
            </div>
<!--            Country-->
            <div class="column">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Country
                    </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">United States</a>
                      <a class="dropdown-item" href="#">United Kingdom</a>
                      <a class="dropdown-item" href="#">China</a>
                      <a class="dropdown-item" href="#">Japan</a>
                      <a class="dropdown-item" href="#">Germany</a>
                      <a class="dropdown-item" href="#">India</a>
                      <a class="dropdown-item" href="#">South Korea</a>
                      <a class="dropdown-item" href="#">France</a>
                      <a class="dropdown-item" href="#">Russia</a>
                      <a class="dropdown-item" href="#">Switzerland</a>
                      <a class="dropdown-item" href="#">Australia</a>
                      <a class="dropdown-item" href="#">Canada</a>
                  </div>
                </div>
            </div>
<!--            Vaccine Types-->
            <div class="column">
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vaccine Types
                    </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Genetic Vaccines</a>
                      <a class="dropdown-item" href="#">Protein-Based Vaccines</a>
                      <a class="dropdown-item" href="#">Viral Vector Vaccines</a>
                      <a class="dropdown-item" href="#">Whole-Virus Vaccines</a>
                      <a class="dropdown-item" href="#">Others</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script src="../static/js/index.js" type="text/javascript"></script>
</html>


<!--<div class="html">-->
<!--<body>-->
<!--&lt;!&ndash;    <img src="../static/img/house-estate.jpg">&ndash;&gt;-->
<!--<div class="row">-->
<!--    <div class="col-lg-12">-->
<!--        <div class="jumbotron text-center">-->
<!--        <h1>Tony's Housing Price Estimation</h1>-->
<!--        <p>CSCI S-14A Building Interactive Web Applications and Data Analysis</p>-->
<!--        <p>Homework 1</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--    <div class="col-lg-6">-->
<!--        <div class="orange text-center">-->
<!--            <h1>Features</h1>-->
<!--            <h2>Beds: {{Beds}} </h2>-->
<!--            <h2>Baths: {{Baths}} </h2>-->
<!--            <h2>Sqft: {{Sqft}} </h2>-->
<!--            <h2>Age: {{Age}} </h2>-->
<!--            <h2>Lotsize: {{Lotsize}} </h2>-->
<!--            <h2>Garage: {{Garage}} </h2>-->
<!--        </div>-->
<!--    </div>-->
<!--        <div class="col-lg-6">-->
<!--            <div class="yellow text-center">-->
<!--                <h1>Estimation: {{ price }} </h1>-->
<!--                <div class="dropdown">-->
<!--                    <button onclick="myFunction()" class="dropbtn">Choose a Model</button>-->
<!--                    <div id="myDropdown" class="dropdown-content">-->
<!--                        <a href="linear_regression">Linear Regression</a>-->
<!--                        <a href="train_test_split">Train Test Split</a>-->
<!--                        <a href="decision_tree">Decision Tree</a>-->
<!--                        <a href="random_forest">Random Forest</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
<script src="../static/js/index.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>