{% extends "layout.html" %}

{% block styles %}
<!--Internal CSS Files-->
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/card.css">
<link rel="stylesheet" href="../static/css/interactive.css">
{% endblock %}


{% block scripts %}
<!--External Source Libraries-->
<script src="../static/js/library/jquery.js"></script>
<script src="../static/js/library/popper.js"></script>
<script src="../static/js/library/bootstrap.js"></script>
<script src="../static/js/library/d3.v5.js"></script>
<script src="../static/js/library/topojson.client.js"></script>
<!--Internal JS Files-->
<script src="../static/js/index.js"></script>
<script src="../static/js/card.js"></script>


<script>
    $(".button-font").on('click', function () {
        $(".button-font").removeClass('active');
        $(this).addClass('active');
    })
</script>

{% if scrollToAnchor %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById('TagIWantToLoadTo').scrollIntoView(true);
    });
</script>
{% endif %}
{% endblock %}

{% block content %}

<!-- Data Visualizations-->
{#<div class="container" style="position: relative; text-align: center; background-color: white;width: 100%;max-width: none;padding: 0;margin: 0;">#}
    <div class="row">
        <div class="col-xl col-lg col-md-2" style="padding: 0;">
            <div id="vis1" class="vis"></div>
        </div>
        <div class="col-xl col-lg col-md-12 col-xs-12 text-center" style="margin: 0 1rem 0 0;">
            <div class="interactive-buttons" style="margin-bottom: 1rem;">
                <button class="btn btn-outline-primary button-font active" data-value="World" value="World">World</button>
                <button class="btn btn-outline-secondary button-font" data-value="North America" value="North America">North America</button>
                <button class="btn btn-outline-secondary button-font" data-value="Europe" value="Europe">Europe</button>
                <button class="btn btn-outline-secondary button-font" data-value="Asia" value="Asia">Asia</button>
                <button class="btn btn-outline-secondary button-font" data-value="Oceania" value="Oceania">Oceania</button>
                <button class="btn btn-outline-secondary button-font" data-value="Africa" value="Africa">Africa</button>
                <button class="btn btn-outline-secondary button-font" data-value="South America" value="South America">South America</button>
            </div>

            <div class="interactive-progress row">
                <!--            Extended Length of Bar1-->
                <div class="stage0" style="width: 18px"></div>
                <!--            Bar1-->
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar stage0">
                        <div class="bar-data" id="progress0">&nbsp;</div>
                    </div>
                </div>
                <!--            Arrow1-->
                <div class="arrow-right-stage0 stage1"></div>
                <!--            Bar2-->
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar stage1">
                        <div class="bar-data" id="progress1">&nbsp;</div>
                    </div>
                </div>
                <!--            Arrow2-->
                <div class="arrow-right-stage1 stage2"></div>
                <!--            Bar3-->
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar stage2">
                        <div class="bar-data" id="progress2">&nbsp;</div>
                    </div>
                </div>
                <!-- Arrow3-->
                <div class="arrow-right-stage2 stage3"></div>
                <!-- Bar4-->
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar stage3">
                        <div class="bar-data" id="progress3">&nbsp;</div>
                    </div>
            </div>
            <!--            Arrow4-->
            <div class="arrow-right-stage3 stage4"></div>
            <!--            Bar5-->
            <div class="col" style="padding: 0;">
                <div class="interactive-bar stage4">
                    <div class="bar-data" id="progress4">&nbsp;</div>
                </div>
            </div>
            <!--            Arrow5-->
            <div class="arrow-right-stage4"></div>
        </div>
            <div class="interactive-progress row" id="tag-between">
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar">
                        <div class="bar-tag text-stage0">Pre-Clinical</div>
                    </div>
                </div>
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar">
                        <div class="bar-tag text-stage1">Phase I</div>
                    </div>
                </div>
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar">
                        <div class="bar-tag text-stage2">Phase II</div>
                    </div>
                </div>
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar">
                        <div class="bar-tag text-stage3">Phase III</div>
                    </div>
                </div>
                <div class="col" style="padding: 0;">
                    <div class="interactive-bar">
                        <div class="bar-tag text-stage4">Approval</div>
                    </div>
                </div>
            </div>
            <div class="vis-bars">
                <div id="vis2" class="vis"></div>
                <div id="vis3" class="vis"></div>
            </div>
        </div>
    </div>
{#</div>#}


<div class="ctr text-center">
    <div class="jumbotron" style="background-color: transparent;">
        <h3 id="title">The Developing Process of a <i>Coronavirus Vaccine</i></h3>
    </div>
    <div class="row">
        <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
            <span class="highlight stage0">Preclinical</span>
            <p class="black">In the Preclinical stage, the vaccine is <b>given to animals</b> to identify potential
                safety concerns and test if it triggers an immune response.</p>
        </div>
        <div class="col-lg col-md-4 col-sm-4 col-4 border-left border-info">
            <span class="highlight stage1">Phase I</span>
            <p class="black">In Phase I trials, the vaccine is <b>given to small groups of people</b> (approximately 20
                to 80) to test its safety and confirm that it stimulates the immune system.</p>
        </div>
        <div class="col-lg col-md-4 col-sm-4 col-4 border-left border-info">
            <span class="highlight stage2">Phase II</span>
            <p class="black">In Phase II trials, the vaccine is <b>given to several hundred people</b>, especially
                people of different ages, to test its effectiveness.</p>
        </div>
        <div class="col-lg col-md-6 col-sm-6 col-4 border-left border-info">
            <span class="highlight stage3">Phase III</span>
            <p class="black">In Phase III trials, the vaccine is <b>given to several thousand people</b> to confirm and
                expand on safety and effectiveness results from previous trials.</p>
        </div>
        <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">
            <span class="highlight stage4">Approval</span>
            <p class="black">In this stage, regulators in each country <b>review the results</b> and <b>decide to
                    approve the vaccine or not</b>.</p>
        </div>
    </div>
</div>

<div class="text-center" style="color: #19198b">
    <p class="source">Data Source:&nbsp;<b>The World Health Organization</b>: <i><a href="https://www.who.int/publications/m/item/draft-landscape-of-covid-19-candidate-vaccines" style="color: rgb(6,69,173);"> Draft landscape of COVID-19 candidate vaccines</a></i></p>
</div>
<!--Heading - Question-->
<!--<div class="heading">-->
<!--    <h1 id="bold">Who will be the first to develop a vaccine?</h1>-->
<!--</div>-->

<!--Filter Data-->
<div id="TagIWantToLoadTo" class="filter">
    <!--    <div class="container">-->
    <form action="/" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="column filtertext">
                <b>Filter Vaccines</b>
            </div>
            <!--            Stages-->

            <div class="column">
                <div class="dropdown">
                    <button type="button" class="btn btn-stage dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{stages_dis}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item-0" type="submit" name="stages" value="0">Pre-Clinical</button>
                        <div class="dropdown-divider"></div>
                        <button class="dropdown-item-1" type="submit" name="stages" value="1">Phase I</button>
                        <button class="dropdown-item-2" type="submit" name="stages" value="2">Phase II</button>
                        <button class="dropdown-item-3" type="submit" name="stages" value="3">Phase III</button>
                        <div class="dropdown-divider"></div>
                        <!--                            Disabled-->
                        <button class="dropdown-item disabled" type="submit" name="stages" value="4">Approval</button>
                        <!--                            Enabled-->
                        <!--                            <button class="dropdown-item-4" type="submit" name="stages" value="4">Approval</button>-->
                    </div>
                </div>
            </div>
            <!-- Country-->
            <div class="column">
                <div class="dropdown">
                    <button class="btn btn-country dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{country_dis}}
                    </button>
                    <div class="dropdown-menu overflow" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item-ctry" type="submit" name="country" value="United States">United
                            States</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="United Kingdom">United
                            Kingdom</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="China">China</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="Japan">Japan</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="Germany">Germany</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="India">India</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="South Korea">South
                            Korea</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="France">France</button>
                        <button class="dropdown-item-ctry" type="submit" name="country"
                            value="Australia">Australia</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="Russia">Russia</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="Canada">Canada</button>
                        <button class="dropdown-item-ctry" type="submit" name="country" value="Austria">Austria</button>
                        <button class="dropdown-item-ctry" type="submit" name="country"
                            value="Singapore">Singapore</button>
                    </div>
                </div>
            </div>
            <!--            Vaccine Types-->
            <div class="column">
                <div class="dropdown">
                    <button id="dropdownMenuButton" class="btn btn-types dropdown-toggle" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{types_dis}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="dropdown-item-type" type="submit" name="type" value="Genetic">
                            Genetic Vaccines</button>
                        <button class="dropdown-item-type" type="submit" name="type" value="Viral Vector">
                            Viral Vector Vaccines</button>
                        <button class="dropdown-item-type" type="submit" name="type" value="Protein-Based">
                            Protein-Based Vaccines</button>
                        <button class="dropdown-item-type" type="submit" name="type" value="Whole-Virus">
                            Whole-Virus Vaccines</button>
                        <button class="dropdown-item-type" type="submit" name="type" value="Repurposed">
                            Others</button>
                    </div>
                </div>
            </div>
            <div class="column" style="float: right">
                <button class="btn btn-warning align-right" type="submit" style="background-color: white; border: None"
                    name="status" value="clear">
                    <b><u style="color: darkblue">Clear Filter</u></b>
                </button>
            </div>
            <input type="hidden" id="prev_stages" name="prev_stages" value="{{stages}}">
            <input type="hidden" id="prev_country" name="prev_country" value="{{country}}">
            <input type="hidden" id="prev_types" name="prev_types" value="{{types}}">

        </div>
    </form>


    <!--    </div>-->
</div>
<!-- list institutions -->
<div class="institutions">
    {% if data|length >= 2 %}
    {% for entry in data %}
    <my-card data-stage={{entry[1]}} data-expand='{{entry[2]}}' data-img='{{entry[3]}}' data-intro='{{entry[4]}}'
        data-country='{{entry[5]}}' data-vactype='{{entry[6]}}'>
    </my-card>
    {% endfor %}
    {% else %}
    {% if data|length > 0 %}
    {% for entry in data %}
    <my-card data-stage={{entry[1]}} data-expand='{{entry[2]}}' data-img='{{entry[3]}}' data-intro='{{entry[4]}}'
        data-country='{{entry[5]}}' data-vactype='{{entry[6]}}'>
    </my-card>
    {% endfor %}
    <div style="height: 20rem;"></div>
    {% else %}
    <h5 class="text-center" style="color: darkslateblue"> Currently there are no results available </h5>
    <div style="height: 35rem;"></div>
    {% endif %}
    {% endif %}


</div>

{% endblock %}

<!--This part will not be displayed yet-->
<!--Image adding opacity with a positive quote-->
<section class="container">
    <div class="imgbox">
        <img class="center-fit" src="../static/img/Vaccine.png" alt="Vaccine">
        <div class="centered">
            <blockquote class="blockquote">
                <p class="q">An arrow can only be shot by pulling it backward. So when life is dragging
                    you back with difficulties, it means that it's going to launch you into something great.</p>
                <p class="author">-- Paulo Coelho</p>
            </blockquote>
        </div>
    </div>
</section>