<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Global COVID-19 Vaccine and Treatment Tracker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--External Source Library-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Styles -->
    {% block styles %}
    {% endblock %}
</head>
<body>
<!-- Heading Bar of Webpage-->
<div class="title-bar" id="headerbar">
    <div class="row">
        <h4 class="title" style="margin-left: 1rem"><a class="style-a" href="/">Global COVID-19 Vaccine and Treatment Tracker</a></h4>
<!--        <h5 class="header-text align-right" style="right: 27%">Home</h5>-->
        <h5 class="header-text" id="submit-data" style="position: absolute; right: 15%"><a class="style-a">Submit Data</a>
        <span class="coming-soon">Coming Soon</span></h5>
        <h5 class="header-text" id="about-us" style="position: absolute; right: 5%"><a class="style-a" href="/about-us">About Us</a></h5>
    </div>
</div>
<!-- Content -->
{% block content %}
{% endblock %}

<div style="height: 2rem;"></div>
    <footer class="page-footer font-small pt-4" style="background-color: #00261c;">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-8 mt-md-0 mt-6" style="color: #c6cecc; text-align:justify">

                    <!-- Content -->
                    <h5 class="text-uppercase">PANELIXIR</h5>
                    <!-- <p>Legal Disclaimer</p> -->
                    <p style="color: #00a56b">PANELIXIR.com assumes no responsibility or liability for any errors or omissions in the content of this site.
                        The information contained in this site is provided on an "as is" basis with no guarantees of completeness, accuracy, usefulness or
                        timeliness. The information should be used as a guide and modified to meet your own individual needs and the laws of your state.
                        Your use of any information or forms is at your own risk.</p>
                    <p style="color: #00a56b">Data Source:&nbsp;<b>The World Health Organization</b>: <i><a
                                href="https://www.who.int/publications/m/item/draft-landscape-of-covid-19-candidate-vaccines"
                                target="_blank" style="color: #00a56b"> <u>Draft landscape of COVID-19 candidate
                                vaccines</u></a></i></p>

                </div>

                <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
                <div class="col-md-1 mb-md-0 mb-1"></div>

                <div class="col-md-3 mb-md-0 mb-3" >
                 <div style="height: 2rem;"></div>
                    <!-- <h5 class="text-uppercase"  style="color: #c6cecc;"></h5> -->
                    <ul class="list-unstyled">
                        <li>
                            <a href="/about-us">About Us</a>
                        </li>
                        <li>
                            <a href="#!">Contact Us: xxx @gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color:#c6cecc; ">© 2020 Copyright:
            <a href="https://PANELIXIR.com/" style="color:#c6cecc"> PANELIXIR.com</a>
        </div>
    </footer>

<!-- Scripts -->
{% block scripts %}
{% endblock %}

</body>

</html>