<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The latest and most comprehensive information about the development of COVID-19 Vaccines">
    <title>Global COVID-19 Vaccine and Treatment Tracker</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--External Source Library-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Styles -->
    {% block styles %}
    {% endblock %}
</head>
<body>
<!-- Heading Bar of Webpage-->
<div class="title-bar" id="headerbar">
    <div class="row">
        <h1 class="title" style="margin-left: 1rem"><a class="style-a" href="/">Global COVID-19 Vaccine and Treatment Tracker</a></h1>
<!--        <h5 class="header-text align-right" style="right: 27%">Home</h5>-->
        <h5 class="header-text" id="submit-data" style="position: absolute; right: 15%"><a class="style-a">Submit Data</a>
        <span class="coming-soon">Coming Soon</span></h5>
        <h5 class="header-text" id="about-us" style="position: absolute; right: 5%"><a class="style-a" href="/about-us">About Us</a></h5>
    </div>
</div>
<!-- Content -->
{% block content %}
{% endblock %}

<div style="height: 2rem;"></div>
    <footer class="page-footer font-small pt-4" style="background-color: #00261c; color:#c6cecc;">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="disclaimer-wrapper col-md-8 mt-md-0 mt-6" style="text-align:justify">

                    <!-- Content -->
                    <h5 class="text-uppercase">PANELIXIR</h5>
                    <!-- <p>Legal Disclaimer</p> -->
                    <p class="disclaimer-font" style="color: #00a56b">This website and all of its contents, including all data, visualizations, and analysis is provided for general information purpose only. All the information of this website is collected from multiple publicly available sources that do not always agree. While we do our best to keep the information accurate and up-to-date, we do not make any warranties about the completeness, timeliness, liability, and accuracy of the information presented on this website. We will not be liable for any losses and/or damages in connection with the use of our website.</p>
                    <p class="disclaimer-font" style="color: #00a56b">Sources:&nbsp;<i>World Health Organization, New York Times, New England Journal of Medicine</i></p>

                </div>

                <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->
                <div class="col-md-1 mb-md-0 mb-1"></div>

                <div class="col-md-3 mb-md-0 mb-3" >
                 <div class="break" style="height: 1rem;"></div>
                    <!-- <h5 class="text-uppercase"  style="color: #c6cecc;"></h5> -->
                    <ul class="list-unstyled">
                        <li class="mb-3">
                            <h5 class="quick-actions"><b>Quick Actions</b></h5>
                        </li>
                        <li class="mb-2">
                            <span class="footer-link" id="back-to-top" title="Go to top of the page">Back to Top</span>
                        </li>
                        <li class="mb-2">
                            <a class="footer-link" href="/about-us">About Us</a>
                        </li>
                        <li class="mb-2">
                            <a class="footer-link" href="mailto: panelixir@hotmail.com">Contact Us: panelixir@hotmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color:#c6cecc; ">© 2020 Copyright:
            <a href="https://PANELIXIR.com/" style="color:#c6cecc"> PANELIXIR.com</a>
        </div>
    </footer>

<!-- Scripts -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175789024-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175789024-1');
</script>
<script src="../static/js/main.js"></script>
{% block scripts %}
{% endblock %}

</body>

</html>