{#<li class="news-text">#}
{#    <b style="font-variant: small-caps;color: darkcyan;">Top </b>#}
{#    <u class="news-company" id="13">The vaccine previously approved by the Russian Federation</u> before Phase III testing now moves into Phase III trials. The institute also <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(20)31866-3/fulltext" style="text-decoration: underline;">published results for its Phase I/II trials on The Lancet</a>.#}
{#    <span class="date">September 4</span>#}
{#</li>#}
<li class="news-text">
    <b style="font-variant: small-caps;color: darkcyan;">Top </b>
    <u class="news-company" id="14">Johnson & Johnson</u> paused its Phase III trials to investigate an adverse reaction in a volunteer.
    <span class="date">October&nbsp;13</span>
</li>
<li class="news-text">
    <b style="font-variant: small-caps;color: darkcyan;">Top </b>
    The Phase III trials for <u class="news-company" id="11">AstraZeneca's AZD1222 Vaccine</u> resumes in most countries. Meanwhile, the U.S. is still putting the trials on pause as the FDA investigates its safety.
    <span class="date">October&nbsp;3</span>
</li>
<li class="news-text">
    <b style="font-variant: small-caps;color: darkorange;">New </b>
    Thailand's <u class="news-company" id="43">Chulalongkorn University</u> enters Phase I trials.
    <span class="date">October&nbsp;1</span>
</li>
<li class="news-text">
{#    <b style="font-variant: small-caps;color: darkorange;">New </b>#}
    The vaccine co-developed by <u class="news-company" id="79">German Center of Infection Research and IDT Biologika GmbH</u> enters Phase I trials.
    <span class="date">September&nbsp;29</span>
</li>
<li class="news-text">
{#    <b style="font-variant: small-caps;color: dodgerblue;">About This Website </b>#}
    Included <span class="highlight-warp-speed">Operation&nbsp;Warp&nbsp;Speed</span> in the introduction of vaccines.
    <span class="date">September&nbsp;27</span>
</li>
<li class="news-text">
{#    <b style="font-variant: small-caps;color: darkorange;">New </b>#}
    The vaccine co-developed by <u class="news-company" id="42">SpyBiotech and Serum Institute of India</u> enters Phase I/II trials.
    <span class="date">September&nbsp;27</span>
</li>
<li class="news-text">
{#    <b style="font-variant: small-caps;color: darkorange;">New </b>#}
    American company <u class="news-company" id="20">Novavax</u> moves into Phase III trails and plans to support 100 million doses to the U.S. in early 2021 if the vaccine proves effective.
    <span class="date">September&nbsp;26</span>
</li>
{#<li class="news-text">#}
{#    <b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#    San Francisco-based company <u class="news-company" id="18">Vaxart</u> moves into Phase I trails.#}
{#    <span class="date">September&nbsp;24</span>#}
{#</li>#}
{#<li class="news-text">#}
{#                <b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#    A vaccine developed by American company <u class="news-company" id="14">Johnson & Johnson</u> enters Phase III trails.#}
{#    <span class="date">September&nbsp;23</span>#}
{#</li>#}
{#<li class="news-text">#}
{#                <b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#    Two vaccines developed by China's <u class="news-company" id="28">Wuhan Institute of Biological Products</u> and <u class="news-company" id="35">Beijing Institute of Biological Products</u> receives emergency use approval in the United Arab Emirates.#}
{#    <span class="date">September 15</span>#}
{#</li>#}
{#<li class="news-text">#}
{#                <b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#    <u class="news-company" id="40">COVAXX</u> and <u class="news-company" id="41">University of Tübingen</u> enters Phase I trials.#}
{#    <span class="date">September 15</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#<u class="news-company" id="2">The CEO of Pfizer</u> said they would know whether the vaccine is effective by October 2020. If it does, the company is planning to supply up to 100 million doses by the end of 2020.#}
{#<span class="date">September 13</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkcyan;">Top </b>#}
{#<u class="news-company" id="11">Astra Zeneca</u> halted its Phase III vaccine trial because of a serious adverse reaction in a participant. On September 12, the trials are resumed in Britain but remain paused in other parts of the world.#}
{#<span class="date">September 12</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#<u class="news-company" id="153">The University of Hong Kong</u> moves into Phase I trials of its nasal-spray vaccine.#}
{#<span class="date">September 10</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#<u class="news-company" id="26">CSL and the University of Queensland</u> signed an agreement that it will supply the Australian Government with 51 million doses of their vaccine if it proves successful.#}
{#<span class="date">September 8</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#<u class="news-company" id="27">A vaccine developed by Sanofi and GSK</u> moves to Phase I/II trials.#}
{#<span class="date">September 3</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: dodgerblue;">About this Website </b>#}
{#Added the category <span class="highlight stage3" id="early" style="display: inline;">Limited Use</span> for two vaccines in China that gets limited approval#}
{#<span class="date">August 31</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#<u class="news-company" id="29">A vaccine developed by China's Sinovac</u> gets limited approval(emergency use only).#}
{#<span class="date">August 31</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#China's subunit vaccine developed by <u class="news-company" id="39">West China Hospital of Sichuan University</u> enters Phase I trials.#}
{#<span class="date">August 28</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#Kazakhstan's vaccine developed by <u class="news-company" id="94">Research Institute for Biological Safety Problems</u> enters Phase I trials.#}
{#<span class="date">August 28</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#A vaccine developed by the Russian <u class="news-company" id="119">Vector Institute</u> enters Phase I/II trials.#}
{#<span class="date">August 26</span>#}
{#</li>#}
{#<li class="news-text">#}
{#<b style="font-variant: small-caps;color: darkorange;">New </b>#}
{#Taiwan-based company <u class="news-company" id="36">Adimmune's</u> vaccine enters Phase I.#}
{#<span class="date">August 20</span>#}
{#</li>#}
{#<li class="news-text">Cuba’s <u class="news-company" id="37">Finlay Institute of Vaccines</u> begins Phase I/II trials. <span class="date">August 19</span></li>#}
{#<li class="news-text">German company <u class="news-company" id="7">Curevac's</u> RNA vaccine moves from Phase I to II. <span class="date">August 17</span></li>#}
{#<li class="news-text">A vaccine developed by <u class="news-company" id="17">Merck, Themis and Institut Pasteur</u> enters Phase I. <span class="date">August 12</span></li>#}
{#<li class="news-text">Russian president Putin approved a vaccine developed by <u class="news-company" id="13">Gamaleya Institute</u> before Phase III trials. <span class="date">August 11</span></li>#}