<!DOCTYPE html>
<meta charset="utf-8">
<style>
body {
  background: #fcfcfa;
}
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.fill {
  fill: #fff;
}
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.land {
  fill: #222;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
.tooltip{
  background-color:rgba(0,0,0,0.5);
  color:#fff;
  padding: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

</style>
<body>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="//d3js.org/queue.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>
<script src="tooltip.js"></script>
<script>

var width = 1200,
    height = 580;

var color = d3.scaleOrdinal(d3.schemeCategory10);

var projection = d3.geoRobinson()
    .scale(170)
    .translate([width / 2, height / 2])
    .precision(.1);

var path = d3.geoPath().projection(projection);

var graticule = d3.geoGraticule();

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

svg.append("defs").append("path")
    .datum({type: "Sphere"})
    .attr("id", "sphere")
    .attr("d", path);

svg.append("use")
    .attr("class", "stroke")
    .attr("xlink:href", "#sphere");

svg.append("use")
    .attr("class", "fill")
    .attr("xlink:href", "#sphere");

svg.append("path")
    .datum(graticule)
    .attr("class", "graticule")
    .attr("d", path);

//data
//https://github.com/zcreativelabs/react-simple-maps/blob/master/topojson-maps/world-50m.json
//https://github.com/topojson/world-atlas

queue()
    .defer(d3.json, "https://cdn.rawgit.com/mbostock/4090846/raw/d534aba169207548a8a3d670c9c2cc719ff05c47/world-110m.json")
    .defer(d3.tsv, "https://cdn.rawgit.com/mbostock/4090846/raw/d534aba169207548a8a3d670c9c2cc719ff05c47/world-country-names.tsv")
    .await(ready);

function ready(error, world, names) {
    if (error) throw error;

    var countries = topojson.feature(world, world.objects.countries).features,
        neighbors = topojson.neighbors(world.objects.countries.geometries);

    //map country names to IDs used on map
    var arr = [];
    names.forEach(function (i) {
        arr[i.id] = i.name;
    });
    console.log(arr)

    svg.selectAll(".country")
        .data(countries)
        .enter().insert("path", ".graticule")
        .attr("class", "country")
        .attr("d", path)
        .style("fill", function (d, i) {
            return color(d.color = d3.max(neighbors[i], function (n) {
                return countries[n].color;
            }) + 1 | 0);
        })
        .call(d3.helper.tooltip(
            function (d, i) {
                return "<b>" + arr[d.id] + "</b>";
            }
        ));


    //other tooltips
    /*
 http://labratrevenge.com/d3-tip/
 https://github.com/VACLab/d3-tip
 */

    svg.insert("path", ".graticule")
        .datum(topojson.mesh(world, world.objects.countries, function (a, b) {
            return a !== b;
        }))
        .attr("class", "boundary")
        .attr("d", path);
};

d3.select(self.frameElement).style("height", height + "px");

</script>
