<div id="value_label">
    {% block content %}
    {% if continent_data|length %}
    <div class="interactive-progress row">

        <!--            Extended Length of Bar1-->
        <div class="stage0" style="width: 18px"></div>
        <!--            Bar1-->
        <div class="col" style="padding: 0;">
            <div class="interactive-bar stage0">
                <div class="bar-data"> </div>
            </div>
        </div>
        <!--            Arrow1-->
        <div class="arrow-right-stage0 stage1"></div>
        <!--            Bar2-->
        <div class="col" style="padding: 0;">
            <div class="interactive-bar stage1">
                <div class="bar-data">2</div>
            </div>
        </div>
        <!--            Arrow2-->
        <div class="arrow-right-stage1 stage2"></div>
        <!--            Bar3-->
        <div class="col" style="padding: 0;">
            <div class="interactive-bar stage2">
                <div class="bar-data">3</div>
            </div>
        </div>
        <!-- Arrow3-->
        <div class="arrow-right-stage2 stage3"></div>
        <!-- Bar4-->
        <div class="col" style="padding: 0;">
            <div class="interactive-bar stage3">
                <div class="bar-data">4</div>
            </div>
        </div>
        <!--            Arrow4-->
        <div class="arrow-right-stage3 stage4"></div>
        <!--            Bar5-->
        <div class="col" style="padding: 0;">
            <div class="interactive-bar stage4">
                <div class="bar-data">5</div>
            </div>
        </div>
        <!--            Arrow5-->
        <div class="arrow-right-stage4"></div>
    </div>
    {% else %}
    <p>no data</p>
    {% endif %}
    {% endblock %}
</div>