{#{% extends "layout.html" %}#}

{#{% block styles %}#}
{#<link rel="stylesheet" href="../static/css/us-map.css">#}
<style>
    section#vaccine-distribution .source{
        opacity: 0.5;
    }
    .date {
        font-family: Kefa, sans-serif;
        margin-left: 0.5rem;
        font-weight: 200;
        color: #7a7a7a;
    }
    .text-with-tooltip {
        font-weight: bold;
        color: #0a87ac;
    }
    .us-map path {
    /*{#fill: #fff;#}*/
        stroke: #888888;
    }
    .us-map-region:hover{
        fill: red;
        {#cursor: crosshair;#}
        /*{#opacity: 0.7;#}*/
    }

    .us-map-text:hover{
        cursor: default;
    }

    .d3tooltip, .d3tooltip-world {
        color: #222;
        background-color: #fff;
        padding: .5em;
        text-shadow: #f5f5f5 0 1px 0;
        border-radius: 2px;
        opacity: 0.9;
        position: absolute;
        {#border: 1px solid #1b1e21;#}
        box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.1);
    }

    .d3tooltip-world.hidden {
        display: none;
    }

    .country.no-data {
        opacity: 0.5;
    }
    .vaccinations-title {
    margin-top: 0.2rem;
    }

    p.vaccinations-subtitle{
        margin-top: 0.2rem;
        font-size: 90%;
    }

    span.highlight-vaccinations {
        font-weight: bold;
        background-color: #a7ffde;
        border-radius: 0.2rem;
        padding: 0.2rem 0.35rem;
    }

    .vaccinations-title {
        font-size: 110%;
    }


    @media screen and (max-width: 767px) {
        table.us-vaccine-distribution, table.world-vaccination-table {
            font-size: 9px;
        }

        .us-vaccine-distribution th, .us-vaccine-distribution td, .world-vaccination-table th, .world-vaccination-table td {
            padding: 0.3rem 0.5rem!important;
        }

        .date {
            font-size: 11px;
        }

        .vaccinations-title {
            font-size: 90% !important;
        }

        .vaccinations-subtitle {
            font-size: 60% !important;
        }

        .highlight-vaccinations {
            padding: 0.15rem 0.25rem!important;
        }

        .d3tooltip-world {
            font-size: 60%;
        }

        .tooltip-no-data {
            opacity: 0.8;
            font-size: 95%;
        }
    }

    @media screen and (min-width: 768px) {
        .us-map {
            margin-left: 15%;
            margin-right: 15%;
        }
        .world-map {
            margin-left: 15%;
            margin-right: 15%;
        }

    }
    .us-vaccine-distribution th, .world-vaccination-table th {
        background-color: #dbdbdb;
        /*padding: 0.5rem 2rem;*/
        /*{#color: white;#}*/
        /*{#border: 1px solid black;#}*/
        /*{#opacity: 0.7;#}*/
    }

    .us-vaccine-distribution th, .world-vaccination-table th, .us-vaccine-distribution td, .world-vaccination-table td {
        padding: 0.5rem 2rem;
    }


    tr:nth-child(even) {
        background-color: #f2f2f2;
    }


    table.us-vaccine-distribution, table.world-vaccination-table {
    /*{#color: #FFFFFF;#}*/
        margin-left: auto;
        margin-right: auto;

    }

    #spinner-wrapper {
      line-height: 35rem;
      height: 35rem;
      /*{#border: 3px solid green;#}*/
      text-align: center;
    }

    .percentage-cell {
        color: rgb(7, 158, 138);
        font-weight: bold;
    }

    .us_total_row {
        color: #0b58de;
        font-weight: bold;
    }

    .tooltip-number {
        font-weight: bold;
        font-size: 150%;
    }

    {#.country.has-data:hover {#}
    {#    stroke: #ff0000!important;#}
    {#    stroke-width: 1.5;#}
    {#}#}

    .boundary {
      fill: none;
      stroke: #fff;
      stroke-width: .5px;
    }

    #world-map {
        margin-bottom: -5%;
    }
    {#.bar {#}
    {#    fill: #5f89ad;#}
    {#}#}

    .axis {
        font-size: 13px;
    }

    .axis path,
    .axis line {
        fill: none;
        display: none;
    }

    .label {
        font-size: 13px;
    }



</style>
{#{% endblock %}#}



{#{% block content %}#}
<section id="vaccine-distribution" data-anchor="distribution">
<div class="world-map text-center">
    <h3 id="news-title">World Vaccinations: The Race to End the Pandemic</h3>
    <p class="vaccinations-title"></p>
{#    <h5 class="vaccinations-title">Number of Doses Administered Per 100 People</h5>#}
    <div id="spinner-wrapper">
        <div class='spinner-grow text-success elixir' id='spinner' role='status'>
            <span class='sr-only'>Loading</span>
        </div>
    </div>
{#    <h4>Number of Doses Administered per 100 people</h4>#}
    <div id="vis5"></div>
</div>

<div class="us-map text-center">
    <h3 id="news-title">Vaccine Availability in the United States</h3>
    <div id="vis4" style="margin-bottom: 1.5rem">
    </div>
    <div id="table" style="margin-bottom: 0.3rem"></div>
    <button class="btn btn-outline-primary" id="btn2">Show More</button>
    <button class="btn btn-outline-primary" id="btn1" style="display: none">Show Less</button>
</div>
<div class="ctr text-center">
    <div id="cdc-guidelines">
        <h3 id="news-title" style="margin-top: 1rem">Who Gets Vaccinated First?</h3>
        <p class="date">Updated December 24</p>
    {#    Only Display with Large Screen (≥ 768px) #}
        <div class="row">
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage0">Phase 1a</span>
                <p class="black">In Phase 1a, CDC recommends that initial supplies of COVID-19 vaccine be allocated to
                    <span class="text-with-tooltip" data-toggle="tooltip" data-placement="bottom"
                          title="Examples of Healthcare personnel include: Emergency medical service personnel,
                          Nurses and nursing assistants, Physicians, Technicians, Therapists, Dentists,
                          Dental hygienists and assistants, Phlebotomists, Pharmacists, Students and trainees in the healthcare sector,
                          Contractual staff, Dietary and food services staff, Environmental services staff, Administrative staff">
                        healthcare personnel</span> and
                    <b>long-term care facility residents</b>.
                    <br>
    {#                <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations/hcp.html">Learn more about healthcare personnel</a>#}
    {#                <br>#}
    {#                <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations/LTCF-residents.html">Learn more about long-term care facility residents</a></p>#}
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage1">Phase 1b</span>
                <p class="black">In Phase 1b, CDC recommends that vaccines should be given to
                    <span class="text-with-tooltip" data-toggle="tooltip" data-placement="bottom"
                          title="Frontline workers include: fire fighters, police officers, corrections officers,
                          food and agricultural workers, United States Postal Service workers, manufacturing workers,
                          grocery store workers, public transit workers, and those who work in the educational sector.">
                        frontline essential workers</span> and <b>people 75 years or older</b>.
                </p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-right border-info">
                <span class="highlight stage2">Phase 1c</span>
                <p class="black">In Phase 1c, CDC recommends vaccination should be offered to
                    <b>people aged 65—74 years</b>,
                    <b>people aged 16—64 years with underlying medical conditions</b>, and
                    <span class="text-with-tooltip" data-toggle="tooltip" data-placement="bottom"
                    title="Examples of other essential workers as people who work in transportation and logistics, food service,
                    housing construction and finance, information technology, communications, energy,
                    law, media, public safety, and public health.">other essential workers</span>.</p>
            </div>
        </div>
        <div class="row" style="margin-top: 1rem;">
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-right border-info">
                <span class="highlight stage3">More Phases to come</span>
                <p class="black"><b>As vaccine availability increases, vaccination recommendations will expand to include more groups.</b>
                The goal is for everyone to be able to easily get a COVID-19 vaccination as soon as large quantities of vaccine are available. As vaccine supply increases but remains limited, ACIP will expand the groups recommended for vaccination.
                </p>
            </div>
    {#        <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">#}
    {#            <span class="highlight stage3">Phase III</span>#}
    {#            <p class="black">In Phase III trials, the vaccine is <b>given to several thousand <span#}
    {#                        style="color: blue">people</span></b> to confirm and#}
    {#                expand on safety and effectiveness results from previous trials.</p>#}
    {#        </div>#}
    {#        <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">#}
    {#            <span class="highlight stage4" id="early">Limited Use</span>#}
    {#            <p class="black">Some countries <b>approve vaccines for emergency use before their results from Phase III trials</b>.#}
    {#                Under Limited Use, only certain groups of people will have access to the vaccine.</p>#}
    {#                It will not be counted as "Approval", but can be found in the filter menu.#}
    {#        </div>#}
    {#        <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-right border-info">#}
    {#            <span class="highlight stage4">Approval</span>#}
    {#            <p class="black">In this stage, regulators in each country <b>review the results</b> and <b>decide to#}
    {#                    approve the vaccine or not</b>. After a vaccine receives approval, it will be distributed across the country.</p>#}
    {#        </div>#}
        </div>
        <p class="source">
            Source: <a href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations.html" target="_blank">CDC</a>
        </p>
    </div>
{#    <div class="text-center" style="margin-bottom: 1.5rem;">#}
{#        For frequently asked questions about vaccine distribution, click <a href="/vaccine-faq#distribution">here</a>#}
{#    </div>#}



    {#    Only Display with Small Screen (< 768px) #}
{#    <div class="row small-screen">#}
{#        <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">#}
{#            <p class="display-highlight row">#}
{#            <span class="highlight stage0 col-lg-12 col-md-12 col-sm-3 col-3">Phase 1a</span>#}
{#            <span class="col-lg-12 col-md-12 col-sm col black">In the Pre-Clinical stage, the vaccine is <b>given to <span style="color: red">#}
{#                        animals</span></b> to identify potential#}
{#                safety concerns and test if it triggers an immune response.</span>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">#}
{#            <p class="display-highlight row">#}
{#            <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage1">Phase 1b</span>#}
{#            <span class="col-lg-12 col-md-12 col-sm col black">In Phase I trials, the vaccine is <b>given to small groups of <span#}
{#                        style="color: blue">people</span></b> (approximately 20#}
{#                to 80) to test its safety and confirm that it stimulates the immune system.</span>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">#}
{#            <p class="display-highlight row">#}
{#            <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage2">Phase 1c</span>#}
{#            <span class="col-lg-12 col-md-12 col-sm col black">In Phase II trials, the vaccine is <b>given to several hundred <span#}
{#                        style="color: blue">people</span></b>, especially#}
{#                people of different ages, to test its effectiveness.</span>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-info">#}
{#            <p class="display-highlight row">#}
{#            <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage3">Phase III</span>#}
{#            <span class="col-lg-12 col-md-12 col-sm col black">In Phase III trials, the vaccine is <b>given to several thousand <span#}
{#                        style="color: blue">people</span></b> to confirm and#}
{#                expand on safety and effectiveness results from previous trials.</span>#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">#}
{#            <p class="display-highlight row">#}
{#            <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage3" id="early">Limited Use</span>#}
{#            <span class="col-lg-12 col-md-12 col-sm col black">Some countries <b>approve vaccines for emergency use before their results from Phase III trials</b>.#}
{#                Under Limited Use, only certain groups of people will have access to the vaccine.</span>#}
{#                 It will not be counted as "Approval", but can be found in the filter menu.#}
{#            </p>#}
{#        </div>#}
{#        <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">#}
{#            <p class="display-highlight row">#}
{#            <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage4">Approval</span>#}
{#            <span class="col-lg-12 col-md-12 col-sm-8 col-8 black">In this stage, regulators in each country <b>review the results</b> and <b>decide to#}
{#                approve the vaccine or not</b>. After a vaccine receives approval, it will be distributed across the country.</span>#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
    <h3 id="news-title">Vaccine Distribution Process</h3>
    <div class="img-box">
        <img class="center-fit" src="../static/img/ows-vaccine-distribution-process.png" alt="Vaccine Distribution Process">
    </div>
{#    <div class="text-center" style="margin-bottom: 1.5rem;">#}
{#        Learn more about Operation Warp Speed <a href="/vaccine-faq#operation-warp-speed">here</a>#}
{#    </div>#}
{#    <a href="/" class="btn btn-primary">Back to Home</a>#}
</div>
</section>


{#{% endblock %}#}