{% extends "layout.html" %}

{% block styles %}
<style>
.badge {
    margin-right: 0.2rem;
}

.question {
    border-top: 1px solid grey;

}
h5 {
    margin-top: 0.8rem;
}


span.highlight-warp-speed {
  font-family: sans-serif;
  /*font-size: 16px;*/
  /*margin: 0.5rem;*/
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
  background-color: #ffdd00;
  font-weight: 550;
}

.note{
    opacity: 0.7;
}

h3 {
    margin-top: 0.5rem;
}

.breadcrumb {
    background-color: #efefef;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
</style>

{% endblock %}


{% block scripts %}
{% endblock %}


{% block content %}

<nav class="nav-top">
    <div class="scroll-menu" id="scroll-menu">
        <div class="nav-top-items">
            <a class="style-a" href="/" data-scroll="distribution">Home</a>
            <span style="margin-left: 20px;border-left: 2px solid silver;"></span>
            <a class="active style-a" href="/vaccine-faq">FAQs</a>
            <a class="style-a" href="/about-us">About Us</a>
        </div>
    </div>
</nav>


<div class="ctr text-center">
    <h3 id="news-title">Frequently Asked Questions about COVID-19 Vaccines</h3>
    <p class="note">Note: the information on this page only covers vaccination in the United States.</p>
</div>
<div class="ctr">
    <div class="quick-access">
        <h3 id="quick-access">Quick Access</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#development">Vaccine Development</a></li>
                <li class="breadcrumb-item"><a href="#distribution">Vaccine Distribution</a></li>
                <li class="breadcrumb-item"><a href="#vaccination">Vaccination and Efficacy</a></li>
            </ol>
        </nav>
    </div>
    <h3 id="vaccination">Vaccination and Efficacy</h3>
    <div class="question">
        <h5><span class="badge badge-featured">Featured</span>Will the vaccine protect me against the new UK variant of COVID-19 that spreads 70% faster?</h5>
        <p>
            The developers of the two currently available vaccines, BioNTech-Pfizer and Moderna,
            expressed confidence that their vaccine will be effective at inducing antibodies against the new UK variant.
            <br>
            Moderna <a href="https://investors.modernatx.com/news-releases/news-release-details/statement-variants-sars-cov-2-virus" target="_blank">released a statement</a>
            on December 23 that they have tested their vaccine against a number of previous variants
            that have emerged since the first outbreak, and their vaccine displays an equal efficacy.
            While they plan to run tests to confirm the activity of the vaccine against any strain, the broad range of potential neutralizing antibodies made possible by the Moderna COVID-19 Vaccine provide confidence that their vaccine will also be effective against new variants.


            <br>
            The CEO of BioNTech, Ugur Sahin, said on December 22 that the proteins on the UK variant are 99% the same as on the prevailing strains, hence
            the likelihood their vaccine works is relatively high. However, further studies are needed to be completely sure.
        </p>
    </div>

    <div class="question">
        <h5>Who is paying for COVID-19 Vaccine?</h5>
        <p>
            Vaccine doses purchased with U.S. taxpayer dollars will be given to the American people at no cost. However, vaccination providers will be able to charge an administration fee for giving the shot to someone. Vaccine providers can get this fee reimbursed by the patient's public or private insurance company or, for uninsured patients, by the Health Resources and Services Administration's Provider Relief Fund.
        </p>
    </div>

    <div class="question">
        <h5>When a vaccine is limited, who gets a vaccine first?</h5>
        <p>
            When the vaccine supply is limited, it will be first be given to those people who are at constant risk of exposure or especially vulnerable to COVID-19, such as frontline healthcare workers. For more information, see <a href="/vaccine-distribution#cdc-guidelines" target="_blank">CDC Guidelines for who gets a vaccine first when the supply is limited</a>.
        </p>
    </div>

    <div class="question">
        <h5>Do I need to wear a mask after having a COVID-19 vaccine?</h5>
        <p>
            Yes. CDC recommends that during the pandemic people wear a mask that covers their nose and mouth when in contact with others outside your household, when in healthcare facilities, and when receiving any vaccine, including a COVID-19 vaccine.
            <br>There are two main reasons why:
        </p>
        <ul>
            <li>
                Vaccination does not offer 100 percent immunity. There is still a small risk for you to develop mild or asymptomatic COVID-19 disease after exposure to the virus and you could potentially spread it to others.
            </li>
            <li>
                There will be limited vaccination doses available initially. Because people will be vaccinated in waves, it will take time to vaccinate enough of the population to stop the spread of COVID-19.
            </li>
        </ul>
    </div>

    <div class="question">
        <h5>If I have already had COVID-19 and recovered, do I still need to get a vaccine?</h5>
        <p>
There is not enough information currently available to say if or for how long after infection someone is protected from getting COVID-19 again; this is called natural immunity. Early evidence suggests natural immunity from COVID-19 may not last very long, but more studies are needed to better understand this. Until we have a vaccine available and the Advisory Committee on Immunization Practices makes recommendations to CDC on how to best use COVID-19 vaccines, CDC cannot comment on whether people who had COVID-19 should get a COVID-19 vaccine.
        </p>
    </div>

    <div class="question">
        <h5>When can I stop wearing an mask and avoiding contact with others after I have been vaccinated?</h5>
        <p>
    There is not enough information currently available to say if or when CDC will stop recommending that people wear masks and avoid close contact with others to help prevent the spread of the virus that causes COVID-19. Experts need to understand more about the protection that COVID-19 vaccines provide before making that decision. Other factors, including how many people get vaccinated and how the virus is spreading in communities, will also affect this decision.
        </p>
    </div>

    <div class="question">
        <h5>How many doses are necessary for a COVID-19 vaccine?</h5>
        <p>
            The two vaccines currently available in the United States both require two doses. The two doses for the BioNTech-Pfizer vaccine have to be three weeks apart, and the interval for Moderna's two doses is four weeks.
        </p>
    </div>

    <div class="question">
        <h5>Why do we have need two doses for a COVID-19 vaccine?</h5>
        <p>
            Some vaccines require two doses to be effective, including both the BioNTech-Pfizer and Moderna vaccine currently approved for limited use by the U.S. FDA.
            For instance, the BioNTech-Pfizer's vaccine was 52% effective with one dose, and 95% after the second dose. We're currently uncertain how effective a single shot
            will be effective in the long run and how long the immunity would last. There are some vaccines currently under development that only require one dose, but most require two.
        </p>
    </div>

    <div class="question">
        <h5>What if I missed or cannot receive the second dose of the vaccine on time?</h5>
        <p>
The Advisory Committee on Immunization Practices (ACIP) allows the administration of a second dose within a four-day grace period. If more than 21 days(Pfizer)/28 days(Moderna) have passed since the first dose was received, the second dose can be administered as soon as possible and the vaccination series will not need to be restarted.
        </p>
    </div>

    <div class="question">
        <h5>Is it safe to vaccinate children with the mRNA COVID-19 vaccine?</h5>
        <p>
The Pfizer/BioNTech vaccine trials included age groups 12 and older; however, the emergency use authorization (EUA) for vaccination indications was submitted down to age 16. Because data on efficacy and safety of the vaccine in pediatric age groups (newborn-15 years of age) are very limited at this time, the FDA has only authorized vaccine use for people age 16 or older. Enrollment is in process to study the safety and efficacy of the vaccine in younger children.
        </p>
    </div>

    <div class="question">
        <h5>Can I receive doses of COVID-19 vaccinations from different manufacturers?</h5>
        <p>
CDC strongly recommends you receive both doses of the COVID-19 vaccination from the same manufacturer. If you inadvertently receive doses of vaccine from different manufacturers, you do not need to receive any additional doses from either manufacturer.
        </p>
    </div>

    <div class="question">
        <h5>Are there other vaccines, such as a flu vaccine, prevent me from getting COVID-19?</h5>
        <p>
There are currently no available vaccines that will prevent COVID-19. However, multiple agencies and groups in the United States are working together to make sure that a safe and effective COVID-19 vaccine is available as quickly as possible. <br>A flu vaccine will not protect you from getting COVID-19, but it can prevent you from getting influenza (flu) at the same time as COVID-19. This can keep you from having a more severe illness. While it’s not possible to say with certainty what will happen in the winter, CDC believes it’s likely that flu viruses and the virus that causes COVID-19 will both be spreading during that time. That means that getting a flu vaccine is more important than ever.
        </p>
    </div>


    <h3 id="distribution">Vaccine Distribution</h3>
    <div class="question" id="operation-warp-speed">
        <h5>What is <span class="highlight-warp-speed">Operation Warp Speed</span> and what is its role in vaccine distribution?</h5>
        <p>
    Operation Warp Speed is a partnership among components of the Department of Health and Human Services (HHS) and the Department of Defense to help develop, make, and distribute millions of vaccine doses for COVID-19 as quickly as possible while ensuring that the vaccines are safe and that they work.
            <br>Learn more about Operation Warp Speed:
        </p>
        <ul>
            <li><a href="https://www.hhs.gov/coronavirus/explaining-operation-warp-speed/index.html" target="_blank">HHS: Explaining Operation Warp Speed</a></li>
            <li><a href="https://www.nejm.org/doi/full/10.1056/NEJMp2027405">New England Journal of Medicine Article: Developing Safe and Effective Covid Vaccines — Operation Warp Speed’s Strategy and Approach</a></li>
        </ul>
    </div>


     <div class="question">
        <h5>When will a vaccine be available in the United States?</h5>
        <p>
The goal for Operation Warp Speed is to deliver safe vaccines that work, with the first supply becoming available before the end of 2020. When a vaccine is authorized or approved in the United States, there may not be enough doses available for all adults. Supplies will increase over time, and all adults should be able to get vaccinated later in 2021. However, a COVID-19 vaccine may not be available for young children until more studies are completed.            <br>Learn more about Operation Warp Speed:
        </p>
    </div>

    <div class="question">
        <h5>Will there be enough vaccine for everyone?</h5>
        <p>
When FDA first authorizes or approves the use of one or more COVID-19 vaccines in the United States, there may be a limited supply. This would mean that not everyone will be able to be vaccinated right away. It is understandable how concerning this would be for people, especially for those who are at increased risk for serious illness from this virus and for their loved ones.<br>
            That is why, early in the response, the federal government began investing in select vaccine manufacturers to help them increase their ability to quickly make and distribute a large amount of COVID-19 vaccine. This will allow the United States to start with as much vaccine as possible and continually increase the supply in the weeks and months to follow. The goal is for everyone to be able to easily get a COVID-19 vaccine as soon as large quantities are available. Several thousand vaccination providers will be available, including doctors’ offices, retail pharmacies, hospitals, and federally qualified health centers.

        </p>
    </div>

    <h3 id="development">Vaccine Development and Safety</h3>

    <div class="question">
        <h5>What does it mean if a vaccine trial is paused?</h5>
        <p>
    Safety is a top priority during the vaccine approval process. It is not unusual for a clinical trial to be temporarily paused when a possible side effect (called an adverse event) is detected. Clinical trials are designed to pause when an unexpected health event (called a safety signal) is detected so scientists and physicians can investigate potential safety concerns. The approval process for COVID-19 vaccines is no different ― safety is always the focus.
        </p>
    </div>

    <div class="question">
        <h5>How do mRNA vaccines work? Can someone get COVID-19 from the mRNA vaccine?</h5>
        <p>
No, it is not possible to get COVID-19 from the vaccine. After injection, the COVID-19 mRNA vaccines give instructions for our muscle cells to make a piece of what is called the coronavirus “spike” protein. Once the immune system recognizes this protein, it will develop antibodies, like what happens in natural infection against COVID-19. It will not cause COVID-19.
        </p>
    </div>

    <div class="text-center">
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</div>

{% endblock %}