{#{% extends "layout.html" %}#}


{#{% block styles %}#}
{#<style>#}
{#    #early {#}
{#        background-color: rgb(124, 205, 201);#}
{#    }#}
{##}
{#    #abandoned {#}
{#        background-color: rgb(136, 8, 8);#}
{#    }#}
{##}
{#    #paused {#}
{#        background-color: rgb(246, 141, 131);#}
{#    }#}
{##}
{#    #combined-phases {#}
{#        background-color: #c3c1c1;#}
{#    }#}
{#</style>#}
{#{% endblock %}#}


{#{% block content %}#}
    {# Stages Introductions #}
<section data-anchor="science">
    <div class="ctr text-center">
        <div class="jumbotron" style="background-color: transparent;">
            <h3 id="news-title">The Developing Process of a <b>Coronavirus Vaccine</b></h3>
        </div>
    {#    Only Display with Large Screen (≥ 768px) #}
        <div class="row large-screen">
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage0">Pre-Clinical</span>
                <p class="black">In the Pre-Clinical stage, the vaccine is <b>given to <span style="color: red">
                            animals</span></b> to identify potential
                    safety concerns and test if it triggers an immune response.</p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage1">Phase I</span>
                <p class="black">In Phase I trials, the vaccine is <b>given to small groups of <span
                            style="color: blue">people</span></b> (approximately 20
                    to 80) to test its safety and confirm that it stimulates the immune system.</p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage2">Phase II</span>
                <p class="black">In Phase II trials, the vaccine is <b>given to several hundred <span
                            style="color: blue">people</span></b>, especially
                    people of different ages, to test its effectiveness.</p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage3">Phase III</span>
                <p class="black">In Phase III trials, the vaccine is <b>given to several thousand <span
                            style="color: blue">people</span></b> to confirm and
                    expand on safety and effectiveness results from previous trials.</p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage4" id="early">Limited Use</span>
                <p class="black">Some countries <b>approve vaccines for emergency use before their results from Phase III trials</b>.
                    Under Limited Use, only certain groups of people will have access to the vaccine.</p>
    {#                It will not be counted as "Approval", but can be found in the filter menu.#}
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-right border-info">
                <span class="highlight stage4">Approval</span>
                <p class="black">In this stage, regulators in each country <b>review the results</b> and <b>decide to
                        approve the vaccine or not</b>. After a vaccine receives approval, it will be distributed across the country.</p>
            </div>
        </div>



        {#    Only Display with Small Screen (< 768px) #}
        <div class="row small-screen">
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <p class="display-highlight row">
                <span class="highlight stage0 col-lg-12 col-md-12 col-sm-3 col-3">Pre-Clinical</span>
                <span class="col-lg-12 col-md-12 col-sm col black">In the Pre-Clinical stage, the vaccine is <b>given to <span style="color: red">
                            animals</span></b> to identify potential
                    safety concerns and test if it triggers an immune response.</span>
                </p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage1">Phase I</span>
                <span class="col-lg-12 col-md-12 col-sm col black">In Phase I trials, the vaccine is <b>given to small groups of <span
                            style="color: blue">people</span></b> (approximately 20
                    to 80) to test its safety and confirm that it stimulates the immune system.</span>
                </p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage2">Phase II</span>
                <span class="col-lg-12 col-md-12 col-sm col black">In Phase II trials, the vaccine is <b>given to several hundred <span
                            style="color: blue">people</span></b>, especially
                    people of different ages, to test its effectiveness.</span>
                </p>
            </div>
            <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage3">Phase III</span>
                <span class="col-lg-12 col-md-12 col-sm col black">In Phase III trials, the vaccine is <b>given to several thousand <span
                            style="color: blue">people</span></b> to confirm and
                    expand on safety and effectiveness results from previous trials.</span>
                </p>
            </div>
            <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage3" id="early">Limited Use</span>
                <span class="col-lg-12 col-md-12 col-sm col black">Some countries <b>approve vaccines for emergency use before their results from Phase III trials</b>.
                    Under Limited Use, only certain groups of people will have access to the vaccine.</span>
    {#                 It will not be counted as "Approval", but can be found in the filter menu.#}
                </p>
            </div>
            <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage4">Approval</span>
                <span class="col-lg-12 col-md-12 col-sm-8 col-8 black">In this stage, regulators in each country <b>review the results</b> and <b>decide to
                    approve the vaccine or not</b>. After a vaccine receives approval, it will be distributed across the country.</span>
                </p>
            </div>
        </div>

        <div class="jumbotron" style="background-color: transparent;">
            <h3 id="news-title">Other Stages During Development</h3>
        </div>

        <div class="row large-screen">
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage0" id="combined-phases">Combined Phases</span>
                <p class="black">In order to <b>accelerate the vaccine development process</b>, some companies may decide to <b>combine different
                    stages</b> of their trials. For example, a Phase I/II trial is a combination of Phase I and Phase II trials.</p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-info">
                <span class="highlight stage1" id="paused">Paused</span>
                <p class="black">If investigators found <b>adverse reactions</b> among participants, they may decide to <b>pause
                    the trial</b>. After a detailed investigation, the <b>trials may <span style="color: green">resume</span> or <span style="color: rgb(136, 8, 8)">be abandoned</span></b>.</p>
            </div>
            <div class="col-lg col-md-4 col-sm-4 col-12 border-left border-right border-info">
                <span class="highlight stage4" id="abandoned">Abandoned</span>
                <p class="black">If <b>troubling symptoms</b> were found due to injection of the vaccine, or if the vaccine
                    <b>failed to yield antibodies</b> among certain groups of people, the vaccine may <b><span style="color: rgb(136, 8, 8)">be abandoned</span> due to safety concerns</b>.</p>
            </div>
        </div>

        <div class="row small-screen">
            <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage4" id="combined-phases">Combined Phases</span>
                    <span class="col-lg-12 col-md-12 col-sm-8 col-8 black">In order to <b>accelerate the vaccine development process</b>, some companies may decide to <b>combine different
                    stages</b> of their trials. For example, a Phase I/II trial is a combination of Phase I and Phase II trials.</span>
                </p>
            </div>
            <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage4" id="paused">Paused</span>
                    <span class="col-lg-12 col-md-12 col-sm-8 col-8 black">If investigators found <b>adverse reactions</b> among participants, they may decide to <b>pause
                        the trial</b>. After a detailed investigation, the <b>trials may <span style="color: green">resume</span> or <span style="color: rgb(136, 8, 8)">be abandoned</span></b>.</span>
                </p>
            </div>
            <div class="col-lg col-md-6 col-sm-6 col-12 border-left border-right border-info">
                <p class="display-highlight row">
                <span class="highlight col-lg-12 col-md-12 col-sm-3 col-3 stage4" id="abandoned">Abandoned</span>
                    <span class="col-lg-12 col-md-12 col-sm-8 col-8 black">If <b>troubling symptoms</b> were found due to injection of the vaccine, or if the vaccine
                        <b>failed to yield antibodies</b> among certain groups of people, the vaccine may <b><span style="color: rgb(136, 8, 8)">be abandoned</span> due to safety concerns</b>.</span>
                </p>
            </div>
        </div>
{#    <a href="/" class="btn btn-primary" style="margin-top: 0.5rem;">Back to Home</a>#}
    </div>
</section>
{#{% endblock %}#}