{% extends "layout.html" %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ctr">
        <div class="article-header text-center">
            <h3 id="news-title">Information about COVID-19 Variants</h3>
            <p class="source">Source: CDC</p>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <p>Information about the characteristics of these variants is rapidly emerging. Scientists are working to learn more about how easily they might spread, whether they could cause more severe illness, and whether currently authorized vaccines will protect people against them. At this time, there is no evidence that these variants cause more severe illness or increased risk of death.</p>
            </div>
        </div>
        <div class="row d-none d-md-flex cdc-viewports">
            <div class="col-md-12">
                <h3>What we know</h3>
{#                <div class="w-md-col4 float-md-right cr ml-md-3">#}
{#                    #}
{#                </div>#}
                <p>Viruses constantly change through mutation, and new variants of a virus are expected to occur over time. Sometimes new variants emerge and disappear. Other times, new variants emerge and persist. Multiple variants of the virus that causes COVID-19 have been documented in the United States and globally during this pandemic.</p>
                <p>The virus that causes COVID-19 is a type of coronavirus, a large family of viruses. Coronaviruses are named for the crown-like spikes on their surfaces. Scientists monitor changes in the virus, including changes to the spikes on the surface of the virus. These studies, including genetic analyses of the virus, are helping us understand how changes to the virus might affect how it spreads and what happens to people who are infected with it.</p>
                <p>Multiple COVID-19 variants are circulating globally:</p>
                <ul>
                    <li>In the United Kingdom (UK), a new variant called B.1.1.7 has emerged with an unusually large number of mutations. This variant spreads more easily and quickly than other variants. Currently, there is no evidence that it causes more severe illness or increased risk of death. This variant was first detected in September 2020 and is now highly prevalent in London and southeast England. It has since been detected in numerous countries around the world, including the United States and Canada.</li>
                    <li>In South Africa, another variant called 1.351 has emerged independently of the variant detected in the UK. This variant, originally detected in early October, shares some mutations with the variant detected in the UK. There have been cases caused by this variant outside of South Africa, but it has not been detected in the US.</li>
                    <li>In Brazil, a variant called P.1 emerged and was identified in four travelers from Brazil, who were tested during routine screening at Haneda airport outside Tokyo, Japan. This variant contains a set of additional mutations that may affect its ability to be recognized by antibodies. This variant has not been detected in the US.</li>
                </ul>
                <p>These variants seem to spread more easily and quickly than other variants, which may lead to more cases of COVID-19. Currently, there is no evidence that these variants cause more severe illness or increased risk of death. However, an increase in the number of cases will put more strain on health care resources, lead to more hospitalizations, and potentially more deaths. Rigorous and increased compliance with public health mitigation strategies, such as vaccination, physical distancing, use of masks, hand hygiene, and isolation and quarantine, will be essential to limiting the spread of SARS-CoV-2 and protecting public health.</p>
            </div>
        </div>
        <div class="row d-flex d-md-none cdc-viewports">
            <div class="col-md-12">
                <h3>What we know</h3>
                <p>Viruses constantly change through mutation, and new variants of a virus are expected to occur over time. Sometimes new variants emerge and disappear. Other times, new variants emerge and persist. Multiple variants of the virus that causes COVID-19 have been documented in the United States and globally during this pandemic.</p>
                <p>The virus that causes COVID-19 is a type of coronavirus, a large family of viruses. Coronaviruses are named for the crown-like spikes on their surfaces. Scientists monitor changes in the virus, including changes to the spikes on the surface of the virus. These studies, including genetic analyses of the virus, are helping us understand how changes to the virus might affect how it spreads and what happens to people who are infected with it.</p>
                <p>Multiple COVID-19 variants are circulating globally:</p>
                <ul>
                    <li>In the United Kingdom (UK), a new variant called B.1.1.7 has emerged with an unusually large number of mutations. This variant spreads more easily and quickly than other variants. Currently, there is no evidence that it causes more severe illness or increased risk of death. This variant was first detected in September 2020 and is now highly prevalent in London and southeast England. It has since been detected in numerous countries around the world, including the United States and Canada.</li>
                </ul>
{#                <div class="w-md-col4 float-md-right cr ml-md-3">#}
{#                    <div class="card ds-5 mb-3">#}
{#                        <img src="/coronavirus/2019-ncov/images/transmission/variant-cases-map-thumbnail-gray.png" class="card-img-top img-fluid pl-0 img-fluid" alt="thumbnail image of map of the United States" title="US COVID-19 Cases Caused by Variants">#}
{#                        <div class="card-body image-with-caption"><div class="card-title h4 mb">US COVID-19 Cases Caused by Variants</div>#}
{#                            <p>View a map showing the number of confirmed cases in each state.</p>#}
{#                        </div>#}
{#                        <div class="card-footer bt-0 pt-0 bg-white text-right">#}
{#                            <a href="/coronavirus/2019-ncov/transmission/variant-cases.html" class="btn btn-primary specialLinkIconLeft">View Cases</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <ul>
                    <li>In South Africa, another variant called 1.351 has emerged independently of the variant detected in the UK. This variant, originally detected in early October, shares some mutations with the variant detected in the UK. There have been cases caused by this variant outside of South Africa, but it has not been detected in the US.</li>
                    <li>In Brazil, a variant called P.1 emerged and was identified in four travelers from Brazil, who were tested during routine screening at Haneda airport outside Tokyo, Japan. This variant contains a set of additional mutations that may affect its ability to be recognized by antibodies. This variant has not been detected in the US.</li>
                </ul>
                <p>These variants seem to spread more easily and quickly than other variants, which may lead to more cases of COVID-19. Currently, there is no evidence that these variants cause more severe illness or increased risk of death. However, an increase in the number of cases will put more strain on health care resources, lead to more hospitalizations, and potentially more deaths. Rigorous and increased compliance with public health mitigation strategies, such as vaccination, physical distancing, use of masks, hand hygiene, and isolation and quarantine, will be essential to limiting the spread of SARS-CoV-2 and protecting public health.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <h3>What we do not know</h3>
                <p>Scientists are working to learn more about these variants, and more studies are needed to understand:</p>
                <ul>
                    <li>How widely these new variants have spread</li>
                    <li>How the disease caused by these new variants differs from the disease caused by other variants that are currently circulating</li>
                    <li>How these variants affect existing therapies and vaccines</li>
                </ul>
                <h3>What it means</h3>
                <p>Public health officials are studying these variants quickly to learn more to control their spread. They want to understand whether the variants:</p>
                <p>Public health officials are studying these variants quickly to learn more to control their spread. They want to understand whether the variants:</p>
                <ul>
                    <li>Spread more easily from person to person</li>
                    <li>Cause milder or more severe disease in people</li>
                    <li>Are detected by currently available viral tests</li>
                    <li>Respond to medicines currently being used to treat people for COVID-19</li>
                </ul>
                <p>Change the effectiveness of COVID-19 vaccines.</p>
                <h3>What CDC is doing</h3>
                <p>CDC, in collaboration with other public health agencies, is monitoring the situation closely. CDC is working to detect and characterize emerging viral variants and expand its ability to look for COVID-19 and new variants. Furthermore, CDC has staff available on-the-ground support to investigate the characteristics of viral variants. CDC is collaborating with EPA to confirm that disinfectants on EPA&rsquo;s <a href="https://www.epa.gov/pesticide-registration/list-n-disinfectants-coronavirus-covid-19" class="tp-link-policy" data-domain-ext="gov">List N: Disinfectants for Coronavirus (COVID-19)<span class="sr-only">external icon</span><span class="fi cdc-icon-external x16 fill-external" aria-hidden="true"></span></a> inactivate these variant viruses. As new information becomes available, CDC will provide updates.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <div class="row-fluid">
                    <div class="vc_empty_space col-12 pb-3">
                        <span class="vc_empty_space_inner">

                        </span>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header h4 bg-gray-l3">More Information</div>
                    <div class="card-body bg-white">
                        <ul class="block-list">
                            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/more/science-and-research/scientific-brief-emerging-variants.html">Emerging SARS-CoV-2 Variants</a></li>
                            <li><a href="https://www.cdc.gov/coronavirus/2019-ncov/travelers/testing-UK-air-travelers.html">Requirement for Proof of Negative COVID-19 Test for All Air Passengers Arriving from the UK to the US</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}