{#<link rel="stylesheet" href="../static/css/map.css">#}

<section id="vaccine-vaccination" data-anchor="vaccination">
    <div class="world-map text-center">
        <h3 id="news-title">World Vaccinations: The Race to End the Pandemic</h3>
        <p class="vaccinations-title"></p>
        <div id="spinner-wrapper-world">
            <div class='spinner-grow text-success elixir' id='spinner' role='status'>
                <span class='sr-only'>Loading</span>
            </div>
        </div>
        <div id="vis5"></div>
        <button class="btn btn-outline-primary" id="btn4">Show More</button>
        <button class="btn btn-outline-primary" id="btn3" style="display: none">Show Less</button>
    </div>
</section>